[2018-03-01 09:43] marcosci opened #1 "Copied Issue from NLMR"
Implement metric functions:

* Fractal dimension
* Hurst
* Lacunarity
* Proportion of landscape
* Number of instances
* Instance size distribution
* Instance perimeter
* Instance bounding box aspect-ratio and proportion of bounding box area
* Instance edge contrast index
* Total edge

* *Nc*, the number of patches of a particular land-cover type
* *Sav*, the area-weighted average patch size (ha)
*

[2018-03-01 09:45] marcosci opened #2 "Agenda"
If you still plan to be on board, I invited both of you to a slack channel @ ropensci - I started there to discuss a naming scheme :)

[2018-05-07 12:44] #1 closed

[2018-05-07 12:49] marcosci commented on #2
So, we thought to give it a try with the following naming scheme:

landscape_*metric*
patch_*metric*

... where metric would most likely be the same abbreviation that FRAGSTATS uses.

[2018-05-07 13:28] mhesselbarth opened #3 "Class level metrics"
Possible metrics at class level (prelimenary list).
All metrics label with distribution include the mean, the standard deviation and the coefficient of variation.

- [ ] Percentage of Landscape (Responsible: John Doe)
- [ ] Number of patches (Responsible: John Doe)
- [ ] Largest patch index (Responsible: John Doe)
- [ ] Mean Euclidean nearest neighbor distance (Distribution) (Responsible: John Doe

[2018-05-07 13:30] mhesselbarth opened #4 "Landscape level metrics"
Possible metrics at class level (prelimenary list).
All metrics label with distribution include the mean, the standard deviation and the coefficient of variation.

- [ ] Landscape richness (Responsible: John Doe)
- [ ] Shannon Diversity (Responsible: John Doe)
- [ ] Shannon evennes (Responsible: John Doe)
- [ ] Landscape contagion index (Responsible: John Doe)

[2018-05-07 16:17] Nowosad commented on #2
@jhollist How about the `lsm_` prefix?

I would also prefer the `lsm_xxx(input_raster, type = "landscape") convention. However, my silly question is - do all of the possible functions have all type levels?

[2018-05-07 16:47] marcosci commented on #2
As probably being the person here with the least coding experience:

If anything else seems off (name of the package, concept at all, ...) - just point it out.
Nothing is set in stone or has emotional value :stuck_out_tongue:

I am fine with either (`lm_` or `lsm_`, don't have a preference there (a verb would be nice, but we couldn't come up with one). @Nowosad Not all, but a bunch of them have al

[2018-05-08 06:26] mhesselbarth commented on #2
I had a look at the metrics again. There are actually quite a few that make only sense at one or two scales.

Therefore, I think it makes more sense to implement them as separate functions for each scale (maybe lm_clss_xxx, lsm_lndscp_xxx or something similar). Doing it like this, the user could just browse easily all metrics available at the scale.

And at the end, we could just write an overall

[2018-05-08 10:13] laurajanegraham commented on #2
Hi all, apologies for the delayed response - was a public holiday in the UK yesterday and I was enjoying time in my garden :)

I think that it makes sense to have a prefix for each of patch / class / landscape; my understanding is that they are fairly different between these levels.

In terms of an overall prefix. I think it definitely makes sense to do so as long as the functions don't get too lo

[2018-05-08 12:29] mhesselbarth commented on #2
There are two open issues, where you can just assign yourself to metrics (and tick them if they are done).

P.S. If you already have existing code for a metric somebody else is already assigned to, but it's not ticked 'done' yet, just change the name of responsible person :)

[2018-05-08 12:45] Nowosad commented on #2
Important question - what is expected class and structure of the outputs? Is it (1) a simple vector, (2) named vector, (3) data.frame/tibble, (4) something else?
If it is a tibble - what are the columns?

I think that all the functions should be type-stable, e.g. always return the same class and structure..

[2018-05-08 12:48] marcosci opened #5 "Edges"
Hi metrics hivemind,

is there any preferred strategy for edge detection?

We polygonized raster and dissolved them so far, which is quite fast with gdal_polygonize - but that would make the dependencies quite heavy. In some issues in fasterize and sf they spoke about implementing that, but I have not seen it so far.

Borrowing C++ code for connected labeling (the way SDMTools does it) is the othe

[2018-05-08 12:57] marcosci commented on #2
I would argue for a tibble - it's one dependency more, but it should be the most convenient way to have a type-stable return. With higher dimensional raster (timeseries etc.) vector/named vector become quite hard to connect to the input data, or?

[2018-05-08 13:05] jhollist commented on #2
Couple of thoughts:

# Naming
- prefix: lsm for prefix.  lm could cause confusion for people thinking it has something to do with linear models.
- for landscape, class, or patch, I do really like the idea of having those because it allows easy searching of functions.  I would propose, `l`, `c`, or `p` to keep function names short.
- function names would look like: `lsm_l_pd` or `lsm_p_frac`
- verb

[2018-05-08 13:27] mhesselbarth commented on #2
**Naming**
Agreed

**Output**
I also think a tibble is the best idea, mainly because of the possibility to deal with higher dimensional raster as input (each row is a raster layer). However, we also need to agree if and how to name the columns. I would suggest always returning the values in the column named as the metrics. For the class level output there would be a column with the class and anoth

[2018-05-08 14:17] Nowosad commented on #5
For my internal project, I have used `spex::polygonize()`, but I assume there could be a better way, e.g.:

[code]

[2018-05-08 14:36] mhesselbarth commented on #5
I worked on a similar approach:

[code]

However, for larger raster it gets pretty slow (or at least not really fast...)

[2018-05-08 23:59] Nowosad commented on #5
Surprisingly (?) our codes are almost identical:). In my option, we should focus on main functions and we can optimize them later.

Btw `group_by_()` (and other similar functions) are deprecated. Therefore we should avoid using them in this package...

[2018-05-09 00:17] Nowosad commented on #2
**Naming**
I think it is set now.

**Output**
I prefer Jeff's idea. A long-form table is extremely powerful, but also ease working with many outputs. For example, it would be possible to calculate many metrics using `purrr::map()` and bind them together.
How about

| layer  | level | id | metric | value
| ------------- | ------------- | ------------- | ------------- | ------------- |
| 1 | landsca

[2018-05-09 05:47] mhesselbarth commented on #2
**Naming **
I think in order to keep the names short and consistent, we should use the FRAGSTATS names and just refer the the manual.

** Output **
I like the output format@

[2018-05-09 10:26] laurajanegraham commented on #4
@marcosci I've assigned myself (and removed you) from the two Shannon measures because I already have code for these (as suggested in the other thread). Will update later today or tomorrow.

[2018-05-09 11:02] marcosci commented on #2
So it's settled, just to summarize:

**Naming**

We will have the general style of :

`lsm_x_xxx`

, where the first x indicates which scale (**l**andscape, **c**lass or **p**atch) the metric covers and `xxx` is the abbreviation from fragstats.

**Output**

Jakubs suggestion is the winner:

| layer  | level | id | metric | value
| ------------- | ------------- | ------------- | ------------- | ---

[2018-05-09 16:40] marcosci commented on #5
I just pushed some C++ code for connected component labeling which can be used with the `cclabel` function:

https://github.com/marcosci/landscapemetrics/blob/master/R/cclabel.R

If we count the raster cells with NA neighbors and how many there are for each patch we also get the edge length. As soon as that is implemented, we can check how the performance differs between that and the spex way.

Bu

[2018-05-09 16:42] marcosci commented on #4
Sure thing :)

[2018-05-10 18:40] Nowosad commented on #5
@marcosci What is the source of this code? Should we add its author to Description?

[2018-05-10 18:59] marcosci commented on #5
It's from the R package ccoutline, which is currently only on github. I referenced the author of the package in the function - if we plan to keep it I am more than happy with including him as one of the authors :)

It looks actually quite good performance wise so far (this is counting the edge length and the difference becomes bigger and bigger with increasing raster size):

![image](https://user-

[2018-05-11 06:59] marcosci commented on #2
And another short question:

I think Jakub put `Landscape Metrics For Categorical Map Patterns` as a title in the description - I had a chat with Kimberly With (the metrics we proposed here are a selection she promotes in a forthcoming book) and she made a case for including surface metrics (https://www.fs.fed.us/rm/pubs_other/rmrs_2009_mcgarigal_k001.pdf).

Is this something you would be happy wi

[2018-05-11 13:25] marcosci commented on #5
So, I just pushed a version that can also handle rasterstacks/bricks and implemented 2 metrics with it - I think it works quite nice and it produces the same results as your total_edge function.

Shall we stick with it?

[2018-05-11 15:50] kawith commented on #2
Greetings!  I'm coming to the discussion a few days late, but in case it helps with organizing metrics by organizational scale (patch, class, landscape), I've attached a table from the landscape pattern analysis chapter of my textbook that summarizes this:
[Table 4.3.pdf](https://github.com/marcosci/landscapemetrics/files/1995928/Table.4.3.pdf)

I can also upload the section of the chapter that de

[2018-05-11 16:08] laurajanegraham commented on #5
I've just been looking at the mean Euclidean nearest neighbour calculation. I was intending to do this with rasterToPolygons and disaggregate, but it makes sense to avoid polygonisation completely given your discussion here.

If you have any advice on how to use this method to calculate distances between patches please let me know. I had a brief look today, but end of Friday was probably not the b

[2018-05-12 18:49] Nowosad opened #6 "Functions structure"
Hey all!

I've opened this issue to discuss the internal structure of functions in this package.
**Main idea:**

1. Don't repeat yourself. Most of the functions have the same/similar code twice - one for RasterLayer and second time for RasterStack/Brick, for example - https://github.com/marcosci/landscapemetrics/blob/master/R/lsm_l_shei.R. I would think there is a better way to handle it. Please t

[2018-05-14 06:28] marcosci commented on #5
The only way I can come up with right now that does not involve polygons are:

1. Label the individual patches for each class and use `distance` from *raster* for every pair of patches. Then select the cells with the lowest values, as these should be the Euclidean distance.

... the "problem" with the metric is that is accounts for the patch edges - I can't come up with a clever to way to identify

[2018-05-14 06:33] marcosci commented on #6
Thanks, Jakub. All of your suggestions make perfect sense (especially the first one, I knew the method dispatch - but I think I used it not in the right way so far. Your example was a little eye-opener.)

[2018-05-14 09:21] marcosci opened #7 "Patch level metrics"
Possible metrics at patch level (prelimenary list).

- [x] Patch size (Responsible: @mhesselbarth)
- [x] Perimeter (edge)   (Responsible: @mhesselbarth)
- [x] Perimeter-to-area ratio (Responsible: @mhesselbarth)
- [x] Fractal dimension (Responsible: @mhesselbarth)
- [x] Shape index (Responsible: @mhesselbarth)
- [x] Core area (Responsible: @mhesselbarth)
- [x] Number of core areas (Responsible: @m

[2018-05-14 13:36] marcosci commented on #6
What we are missing in every function so far are argument checks  - any concerns about checkmate?

[2018-05-14 14:11] Nowosad commented on #6
Can you create and post some examples of using it, Marco? I am curious in which cases it would be needed.

[2018-05-14 14:51] kawith commented on #5
Sounds like you are pretty deep into the code at this point, but just to clarify that the ENN is being assessed from patch edge to patch edge (and not the patch centroids), correct?  The patch edge-to-edge distance is preferred, and my understanding is that Fragstats identifies the two cells that are closest between neighboring patches of the same type, and calculates the Euclidean distance betwee

[2018-05-14 14:54] laurajanegraham commented on #5
My original plan was to convert to polygon and use gDistance from rgeos - this gives edge-to-edge distances.

[2018-05-14 14:59] kawith commented on #2
I wasn't sure where best to post this, but here is that section of the landscape analysis chapter dealing with landscape metrics (sans figures and additional tables).  This is intended to provide a basic introduction to landscape metrics, particularly those available in Fragstats (since that is the most commonly used landscape analysis package at the moment).

[Chapter 4_Landscape Metrics.pdf](htt

[2018-05-15 10:45] marcosci commented on #6
Another thing would be to check for the resolution.
So far we assume the x and y resolution for a lot of the calculations of the area.

[2018-05-15 11:51] marcosci commented on #5
Did you implement that somewhere @laurajanegraham ?

I pushed a version that works without polygonization:

https://github.com/marcosci/landscapemetrics/blob/master/R/lsm_c_enn_mn.R

... in my mind it makes sense, but maybe better double check it with your version and fragstats :)

It again labels all the patches and then calculates the euclidian distances pairwise for every patch.
The patches are

[2018-05-15 12:33] Nowosad opened #8 "Validation of the metrics"
I think that functions validation is essential in projects like this one. Thus, I suggest the following steps after implementing all of basic metrics (in order):

- [x] 1. Create a diverse set of test examples. Dimensions: (a) input type (e.g. RasterLayer vs RasterStack), (b) number of classes (e.g. binary vs 5-classes), (c) data availability (e.g. full data vs some missing values), (d) distributi

[2018-05-15 12:43] mhesselbarth commented on #8
I calculated basically all FRAGSTATS metrics for the *landscape* raster.

[landscape_fragstats.xlsx](https://github.com/marcosci/landscapemetrics/files/2004987/landscape_fragstats.xlsx)

[2018-05-15 12:46] Nowosad commented on #8
That's great @mhesselbarth! My plan for this afternoon is to create a group of test examples.

[2018-05-15 13:04] mhesselbarth commented on #8
Ups...turns out there are some bugs in the edge/perimeter calculations what to thread as edge. Needs some bug fixes...I will push a fixed version hopefully soon.

[2018-05-15 14:53] mhesselbarth commented on #8
We also need to think about the units, e.g. the area in FRAGSTATS is always in hectare (and the user can specify the size of the input cells in meter).  Of course, this also leads to differences in e.g. the parameter-area ratio (however, just in the decimal place, but still...).

[2018-05-15 15:33] laurajanegraham commented on #5
Hi @marcosci, I didn't get around to implementing it so it's probably best to just check against FRAGSTATS.

[2018-05-15 15:35] marcosci commented on #5
will do :) at the moment we are way off, have to figure out why.

[2018-05-15 22:05] Nowosad commented on #8
My proposed testing datasets:

![](https://i.imgur.com/oVO5BLf.png)

1 - two classes aggregated
2 - two classes disaggregated
3 - three classes aggregated
4 - three classes disaggregated
5 - two classes + NA values
6 - three random classes

What do you think?

[2018-05-16 06:44] mhesselbarth commented on #2
**Output**

Marco and I just discussed and we both agreed that it would be nice to include the class as a additional column in the output. The table would look the following:

| layer | level | class | id | metric     | value |
|-------|-------|-------|----|------------|-------|
| 1     | patch | 1     | 1  | total area | 25    |
| 1     | patch | 1     | 2  | total area | 12    |
| 1     | patch

[2018-05-16 07:07] marcosci commented on #2
**Vignette**
As we have to write a vignette at some point about our choice of metrics and what they measure - is it OK @kawith if we reference your book chapter there? :relaxed:

**Output**
A very strong argument for the class column is:

If we have the same metric on multiple scales (patch -> landscape) we can use the class column to group and derive the class metrics from the function that calcu

[2018-05-16 07:29] marcosci commented on #5
It produces now the same results as FRAGSTATS.

I will close the issue here - if anyone has concerns about the connected component labeling, please reopen.

[2018-05-16 07:29] #5 closed

[2018-05-16 11:05] mhesselbarth opened #9 "Whishlist"
Ideas for the future:

- [ ] Adding the class to show_patches()
- [ ] Use future-package for parallel computation
- [x] Function that runs every metric with the option to only run for patch, class or landscape scale (`calculate_metrics(landscapes, what = "all")`)
- [ ] Support for non-raster data, for example `sf` objects
- [ ] Vignette
     - [ ] Subvignette with a 3 column facet plot. Every row

[2018-05-16 11:15] marcosci commented on #8
Seems to be a rigorous set of landscape patterns to test against.
Do you want to run them through FRAGSTATS and in the testthat test suite compare against our functions?

[2018-05-16 11:25] Nowosad commented on #9
@marcosci I added your great idea to the first post. This way it will be easier to organize this issue;) (I am going to delete my message in an hour)

[2018-05-16 13:45] marcosci opened #10 "Discussion Wishlist"
1. @Nowosad what do you think about parallelization? Is one dependency more worth the speed gain?

2. I assume you also added sf support: That would be just a wrapper around `rasterize`, or?

[2018-05-16 17:59] Nowosad commented on #10
I think that, for now, we should prioritize building a perfectly working one-core, raster-based  package. This kind of improvement can be a phase two of the project;)

[2018-05-16 18:51] kawith commented on #2
Yes, I think it would be okay to cite the chapter at this stage, since the book has been scheduled for publication (January 2019).

[2018-05-17 00:40] jhollist commented on #10
Also haven't looked at the code base (y'all been busy!) but if raster::rasterize is used, I would take a close look at fasterize::fasterize.  The speed up would be worth the extra dependency.

[2018-05-17 00:41] jhollist commented on #2
Again I have been mostly absent from all the activity, but including the class column in the output is a must, I think.

[2018-05-18 06:30] mhesselbarth opened #11 "Documentation functions"
We also need to agree which information we want to put in the documentation and how

[2018-05-18 09:06] mhesselbarth commented on #11
I would suggest something like (similar to the FRAGSTATS manual starting from page 87 ff.)

´´´
#' Name of the metric (level)

#' @description
#' One sentence how the metric is calculated

#' @param
#'Raster* Layer, Stack, Brick or a list of rasterLayers.

#' @return
#' Class of return object and units

#' @details
#' More information on how the metric is calculated, the range of the metric and ho

[2018-06-07 13:37] marcosci opened #12 "Test suite"
@Nowosad suggested to test the results of our functions against the results from fragstats.

To do so, @mhesselbarth ran each examplary landscape in the package through fragstats:
[fragstat_landscapemetrics.zip](https://github.com/marcosci/landscapemetrics/files/2080619/fragstat_landscapemetrics.zip)

Would make sense to bring the fragstats results in a tidy format and then come up with a streamli

[2018-06-09 15:52] Nowosad commented on #2
Quick question: What's function name is better - `calculate_metrics()` or `lsm_calculate_metrics()`?

[2018-06-09 15:54] jhollist commented on #2
How about lsm_calculate()?

On Sat, Jun 9, 2018, 11:52 AM Jakub Nowosad <notifications@github.com>
wrote:

[2018-06-09 17:06] marcosci commented on #2
I second Jeff's suggestion :)

Jeffrey W Hollister <notifications@github.com> schrieb am Sa., 9. Juni
2018, 17:54:

[2018-06-09 17:20] Nowosad commented on #2
Done - https://github.com/marcosci/landscapemetrics/commit/d9487719077f7a885ccfbb43cb05b546f94a3594

[2018-06-09 17:29] Nowosad commented on #12
I'll work more on it when the functions will be in a more stable state, but you can see a sneak preview for the `landscape` for a landscape and class level below:

# Landscape level

|abbreviation |value_fs  |       value|
|:------------|:---------|-----------:|
|TA           |0.09      | 900.0000000|
|AREA_MN      |0.0033    |  33.3333333|
|AREA_CV      |268.3046  | 273.4155755|
|AREA_SD      |0.

[2018-06-11 07:36] mhesselbarth commented on #12
Nice...thanks for preparing this! 👍

One reasons for some differences are the different units (everything area related). FRAGSTATS uses hectare, whereas we are currently using something like 'map units'. Assuming that a resolution of xy(1,1) means a cell is 1x1 meter, this translates to square meter at the moment.

[2018-06-13 08:00] marcosci opened #13 "Bugs in FRAGSTATS"
... our in Max's and my head.

A short list here to collect everything:

- Patches with 1 cell get a CIRCLE metric of 0, should be something around 0.36 instead
    - Sometimes the abbreviation is CIRCLE, sometimes SQUARE
- A mixup between hectare and meter in documentation and code
    - Perimeter-Area Ratio (PARA)

[2018-06-13 08:04] mhesselbarth commented on #13
Perimeter-Area Ratio (PARA). They divided through the area in ha (however, documentation says use area in m^2)

[2018-06-13 09:13] mhesselbarth commented on #13
The shape index on patch levels seems a bit odd to me

[2018-06-13 23:32] jhollist commented on #12
I've been fairly absent in this so far...  But quick thought on the units.  I like how it currently is coded to use map units.  Assuming hectares I think is confusing.  Presumably users will have put some thought into projection (a boy can dream!)  and thus changing to hectares under the hood may not be desired.

Also, great work on all this!  I am impressed and humbled by your progress.

[2018-06-14 00:27] Nowosad commented on #12
I agree with Jeff. We should be using the map units.

[2018-06-14 05:35] marcosci commented on #12
Thanks for your input both!

That's basically the same discussion as Max and I had, but (I have no reason why) we ended up with thinking it would be more appropriate to have the same results as in FRAGSTATS (to be able to reproduce past results) and make the comparison of different maps more intuitive. Any thoughts on that?

[2018-06-15 07:03] marcosci commented on #2
Max and I surrendered to IJI (Interspersion and Juxtaposition Index at class level) ... Maybe someone of you have an Idea how to calculate the metric.

http://www.umass.edu/landeco/research/fragstats/documents/Metrics/Contagion%20-%20Interspersion%20Metrics/Metrics/C117%20-%20IJI.htm

As far as we understood the metric one has to calculate the perimeter of all patches in every class (PERIM) and di

[2018-06-16 19:28] Nowosad opened #14 "show_patches"
Shouldn't `show_patches()` be a part of the **landscapetools** package? What do you think?

[2018-06-16 19:39] Nowosad commented on #12
Update of the tests:

# Landscape levels

|abbreviation |  value_fs|       value|
|:------------|---------:|-----------:|
|TA           |    0.0900|   0.0900000|
|AREA_MN      |    0.0033|   0.0033333|
|AREA_CV      |  268.3046| 273.4155755|
|AREA_SD      |    0.0089|   0.0091139|
|LPI          |   50.7778|  50.7777778|
|TE           |  364.0000| 364.0000000|
|NP           |   27.0000|  27.0000000

[2018-06-17 10:28] marcosci commented on #14
If Max is fine with that, it probably makes sense :)

[2018-06-17 17:06] mhesselbarth commented on #14
I'm fine with that, sure

[2018-06-17 19:38] Nowosad commented on #12
I 've found one issue comparing the results on a patch level - numbering of patches differs between FRAGSTATS and landscapemetrics:

# Fragstat

|metric | class| id| value_fs|
|:------|-----:|--:|--------:|
|area   |     1|  1|   0.0001|
|area   |     1|  5|   0.0148|
|area   |     1|  8|   0.0005|
|area   |     1| 16|   0.0014|
|area   |     1| 19|   0.0001|
|area   |     1| 22|   0.0005|
|area

[2018-06-18 07:13] marcosci commented on #14
show_patches is now in landscapetools

[2018-06-18 07:13] #6 closed

[2018-06-18 07:15] #11 closed

[2018-06-18 07:17] marcosci commented on #12
Could we just use `%in%`?
We start numbering the patches from the upper left corner, I have no clue how FRAGSTATS is doing that.

[2018-06-18 07:26] marcosci opened #15 "Other (not-implemented) metrics"
To keep it a bit more organized, here a single list with the metrics we are currently missing.

## Cell-aggregation metrics

- [ ] https://github.com/r-spatialecology/landscapemetrics/issues/288

## Contrast metrics

- [ ] https://fragstats.org/index.php/fragstats-metrics/contrast-metrics

## Patch level
- [ ] Proximity index (Responsible: :ghost:) -> Needs user to specify search radius
- [ ] Simi

[2018-06-18 07:26] #7 closed, assigned to nobody

[2018-06-18 07:38] #9 closed

[2018-06-18 07:38] #10 closed

[2018-06-18 12:12] Nowosad commented on #12
Sure, we can do that.

[2018-06-18 12:28] marcosci commented on #12
Do you have an educated opinion regarding the tolerance for your test?
For some metrics, I think it is impossible to achieve the exact same result (as we don't know how it was implemented in FRAGSTATS) - so loosening it a bit more is in my opinion totally fine.

Btw, is codecov capable of detecting the nested functions in `lsm_calculate` or are we only covering a single function then?

[2018-06-18 13:30] Nowosad commented on #12
Good questions @marcosci , I do not have good answers though..
1. Based on the examples above, FRAGSTATS gives values with four digits after the decimal. Therefore, the tolerance should be one level higher (0.001). Am I right?
2. I do not know, but assume that codecov is not capable of this kind of detection. What do you think? Is it better to have a test for each function separately?

[2018-06-18 13:50] marcosci commented on #12
Yeah, I am lacking that, too.

1. If you and Jeff are voting for having map units rather than hectare I would just increase it. It s anyways a different result than for some metrics. I would argue for something like a 10% difference, if we are beyound that we completely missed it and there is a high chance that we did something wrong. Or FRAGSTATS, and we just can't check :laughing:

2. Hm, I thin

[2018-06-18 14:31] marcosci commented on #14
Max just pointed out that it also makes sense to do the same with cclabel and pad_raster (or make pad_raster just an internal function, there is probably no actual use case for that).

Everyone fine with that?

[2018-06-18 14:38] marcosci opened #16 "Vignette"
... is there something missing in the vignette you would like to read as a new user? :)

https://marcosci.github.io/landscapemetrics/articles/getstarted.html

(Despite the obviously missing text here and there :yum: )

[2018-06-18 15:33] #8 closed

[2018-06-19 07:30] mhesselbarth commented on #13
FRAGSTATS rounds after the 3rd digit, e.g.  a cell size of x = 0.002777778 is x = 0.003 in FRAGSTATS. This may lead to different results for several metrics

[2018-06-19 12:37] Nowosad commented on #12
1. A decision about map units is not very important for the testing purposes. I can always rescale compared values just before testing. A precision of actual FRAGSTATS calculations is more important (https://github.com/marcosci/landscapemetrics/issues/13#issuecomment-398302623) - some of the metrics depend on each other, and therefore some outputs can be visibly different.
2. I think I will create

[2018-06-19 12:39] Nowosad commented on #14
Can we wait a few weeks for a decision about it? I am going to add a piece of rcpp code in the (near) future and we can decide what do to with all of it;)

[2018-06-19 12:51] marcosci commented on #14
Sure thing :)

[2018-06-19 15:43] marcosci commented on #12
Thanks for your input :+1:

I just uploaded some tests for all patch level metrics we have at the moment (and where we are to some degree sure they are correct ...). For every metric where we have a complete match with FRAGSTATS, I included a test for that. In every other case, it just tests for consistency of the resulting tibble.

I will start a new vignette soon where I will collect everything

[2018-06-20 05:09] marcosci commented on #12
@Nowosad is there a reason why you use the hardcoded values instead of the tibbles?
Just asking, if you did it there probably is.

[2018-06-20 08:39] marcosci commented on #13
Mismatch of our sd and cv and the ones in FRAGSTATS. I am fairly certain that the implementation in R of sd() is correct ...

[2018-06-20 13:56] marcosci commented on #12
😅 fair enough. I would vote for my solution (if we find out we used the wrong fragstats metrics that does mean we don't have to change hardcoded values in 200 files ...).

I pushed tests now for every function on every level. If you feel there is a good test missing, just point it out and will help including it.

[2018-06-24 15:39] Nowosad commented on #12
@marcosci Now I've improved and clean many of the tests, etc. I also fixed the travis settings alowing for a longer testing time.

[2018-06-25 07:14] marcosci commented on #12
Nice job @Nowosad, thanks a lot! Seems like I got a bit dizzy while copying around ...

Right now, we are a bit off with some metrics, while others are equal. For the ones where we are in the range of FRAGSTATS, I think we have good arguments for why that is the case. The ones way off definitely need some work.

You implemented the comparison now for every metric - does this mean that your goal is

[2018-06-25 12:21] Nowosad commented on #12
My thinking now - we should investigate the metrics with results different from FRAGSTATS one by one:
- If the difference is due to a bug in FRAGSTATS - document it and comment the tests out
- If the difference is due to the area definition - multiply the results in the test (we can also add an argument to give the output in the same units as in FRAGSTATS)
- If the difference is due to a calculati

[2018-06-28 13:16] bitbacchus opened #17 "lsm_c_ed -> subscript out of bounds"
I get an error message with this function:

`> lsm_c_ed(landscape)

Error in `[.default`(tb, 2:ncol(tb), 1) : subscript out of bounds`

The error seems to occur in file lsm_c_te.R line 112, but I couldn't figure out the details. The error occurred also before commit 086c1d20106540803a71195f810b67ea246c37ab .

I attached two landscape files (please rename to .asc), one that triggers the error, one

[2018-06-28 13:29] mhesselbarth commented on #17
Seems like there is a bug in lsm_c_te() because in the "wrong" landscape there is only one patch of one class, so there is basically no edge. We will fix that specially case so that it returns 0.

[2018-06-28 13:37] mhesselbarth commented on #17
Should be fixed...

[2018-06-29 07:11] #17 closed

[2018-06-29 14:45] marcosci commented on #12
I started that now and completed it for the patch level.

I uncommented the tests where we don´t get the result, but we think we implemented it correctly.
Precision and area were corrected in the tests.
A list of the metrics that are different between the two tools can now be found here:

https://marcosci.github.io/landscapemetrics/articles/articles/comparing_fragstats_landscapemetrics.html#differ

[2018-06-30 22:47] Nowosad commented on #12
Great work Marco.

I compile a list of all mismatches (there are still two issues on the patch level):

[code]

[2018-07-01 16:01] Nowosad commented on #12
**Important note:** everytime you uncomment the FRAGSTATS<-> landscapemetrics tests, you should add a hardcoded test instead. This could be very important in the future when working on performance fixes.

[2018-07-01 16:18] marcosci commented on #12
Makes sense :)

Weird - shape is the correct when I test it?
Can you show me the values?

[2018-07-01 16:51] marcosci commented on #12
Ah, I vaguely remember the issue we had there ...

The documentation in the manual as PDF and html differs - I guess you tested before pulling?
Will remove that section now in the vignette.

[2018-07-01 17:05] #16 closed

[2018-07-01 18:03] Nowosad commented on #12
Ok, the updated list:

[code]

[2018-07-02 16:00] marcosci commented on #12
I have every metric where it made sense, so fixing units and wrong calculations of sd/cv. The ones where I couldn't think of something meaningful to test against and where we already fail at replicating at patch level are listed in the difference vignette.

[2018-07-02 17:39] #13 closed

[2018-07-06 14:49] marcosci opened #19 "Rcpp"
Hey @Nowosad,

we were playing around with your rcpp functions - really handy stuff in there :+1:

Just one weird thing with `rcpp_get_coocurrence_matrix`:

[code]

.... for landscape it's way faster - but not for podlasie. Do you have anything in mind, why that could be?

[2018-07-06 14:52] Nowosad commented on #19
Great question, Marco!
I will test it tomorrow.

[2018-07-09 05:28] marcosci commented on #19
Nice work @Nowosad :-)

New benchmark:

[code]

.... with `rcpp_get_coocurrence_matrix2`. Will start implementing that soon :-)

[2018-07-09 11:55] Nowosad commented on #19
Timings are good. The results are not (always). That is still a work in progress..

[2018-07-09 23:31] Nowosad commented on #19
It should be fine now. @marcosci , please test it and let me know if we can merge it with master.

[code]

Created on 2018-07-09 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-07-12 12:45] Nowosad opened #21 "rcpp: specifing a neighborhood matrix"
"It would be really helpful if one can specify the neighborhood of your adjacency function using e.g. a matrix and not being "limited" to the queen's or rook's case (comparable to the raster::adjacency directions option)."

[2018-07-13 07:55] mhesselbarth commented on #12
I just had a quick glance, but seems like there are quite a few differences between the results for the podlasie_ccilc raster. My first guess was that this is due to the CRS

[2018-07-13 11:49] mhesselbarth commented on #12
Okay, I had a closer look. Some metrics are identical, some are not. It could also be a problem of the rounding issue

[2018-07-13 11:50] Nowosad commented on #12
Yes, it could be due to the geographic CRS. This is why I added this dataset to the package - we should assume that users will provide data not only in a projected CRS...

[2018-07-13 12:21] Nowosad commented on #21
@mhesselbarth can you post some reproducible example using `raster::adjacency()`? It would help me a lot.

[2018-07-13 12:36] marcosci commented on #21
[code]

... is that fine? :)

[2018-07-13 23:47] Nowosad commented on #21
Awesome. I will take a look tomorrow.

[2018-07-14 23:13] Nowosad commented on #21
[code]

Created on 2018-07-14 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-07-15 14:04] marcosci commented on #21
great, just tested it - we are reaching a state where you could potentially use the package :sweat_smile: thanks again for your cpp courage. I hope it s ok that I merged it? :-)
Now we have to tackle ENN ... one of the last really slow ones.

[2018-07-15 14:09] Nowosad commented on #21
:+1:

[2018-07-15 14:09] #21 closed

[2018-07-15 15:33] marcosci commented on #19
I thought so, for the connected labeling. But did not look at that for quite some while. We anyways have to fiddle with that, as one can only use the queen's case at the moment for the patch identification.

Are you asking because libs get that big while compiling the package?

[2018-07-15 16:08] Nowosad commented on #19
Yes. Larger libs means also longer compilation times. I am just curious if we need all of it. If not - we should remove it.

[2018-07-15 18:51] marcosci commented on #19
While dive into that tomorrow :) While doing that - what are we doing with your rcpp functions, internal or public?

[2018-07-16 19:41] Nowosad commented on #19
I do not have a good answer to that question. It should depends on the users expectations - would they need any of the rcpp functions for a landscape ecology work?

[2018-07-18 05:52] marcosci commented on #19
There were for us - so I would assume for others too.
I think they have potential to be building blocks for other metrics, and something in the line of:

[code]

... exported would be valuable. If you think there is a more appropriate place for them, tell me. :-)

[2018-07-19 15:00] marcosci opened #23 "Vignettes R CMD CHECK note"
Does someone know how to avoid this note?

[code]

We have a couple of "vignettes" that are only meant for the homepage.
They are in `vignettes/articles`, which is included in .Rbuildignore and I stripped everything related to vignettes from the yaml header - but the R CMD CHECK still thinks they would end up in the package?

[2018-07-19 15:08] Nowosad commented on #23
I think that the patchwork package needs to be added as Suggests to the Description file.
It should fix this problem.

[2018-07-19 22:38] Nowosad commented on #23
Ok, that is only a part of the problem. The **patchwork** package is not on CRAN yet. A temporary solution is to add "Remotes: thomasp85/patchwork" to Description. However, this is (I think) unacceptable for CRAN.

[2018-07-20 06:01] marcosci commented on #23
It is. I think I fixed it, but then again `check` is a huge mystery for me sometimes.
Apparently one can use whatever package you want for the homepage, as long as you load them via `library` and not `::`.

https://github.com/marcosci/landscapemetrics/commit/07ccd09e4393c8a1648601f8821f7befa21a0b67

[2018-07-20 06:15] mhesselbarth commented on #23
Do we really need the patchwork package? We just use it to plot two ggplot2 next to each other, right? Maybe we could just solve that differently

[2018-07-20 06:18] marcosci commented on #23
No, I just used it for plots on the webpage. But should be fixed now.

[2018-07-20 06:18] #23 closed

[2018-07-20 07:24] mhesselbarth opened #24 "Whitespace"
Remove any whitespace around plots on the homepage

[2018-07-20 07:45] #24 closed

[2018-07-20 12:35] marcosci commented on #19
So, Max and I played around with the connected labeling from SDMTools - turns out it is a bit faster and we could also tweak it to work 4 neighbors, instead of only 8.

They use it under a GPL license, I think if we put them as the author of the C function it should be fine to not have SDMTools as a dependency?

[2018-07-20 13:08] Nowosad commented on #19
That is my understanding as well. See rmarkdown as an example - https://github.com/rstudio/rmarkdown/blob/master/DESCRIPTION (it uses outside code).

[2018-07-20 14:24] marcosci commented on #19
According to the figure @cboettig is showing it would be allowed - nice.

Then, after now restructuring ~200 functions to make them understand the argument `directions`, we should write a proper acknowledgmenent in the C code :+1:

[2018-07-20 16:17] Nowosad opened #25 "Use of tic instead of manualy rebuilding the website each time"
https://github.com/ropenscilabs/tic

[2018-07-21 06:23] marcosci commented on #25
done as suggested

[2018-07-21 22:31] Nowosad commented on #19
@marcosci, going back to your previous question - I agree that this function could be useful for the users.
We just need to come with a better name...
Is there any other rcpp function that could be useful externally?

[2018-07-22 07:53] marcosci commented on #19
Hm, I would export them all (with better names :yum: ) except for maye:

- cclabel_x
- entropy
- circle

?

[2018-07-23 07:21] marcosci commented on #14
Max and I piggybacked show_patches back into the package and Max also included show_correlation.
We think that it is at least a good point for the planned publication, but also in the context of including some functions to select metrics and/or look at the results.

Fine with you @Nowosad ? Completely open for arguments against that.

[2018-07-23 14:03] Nowosad commented on #14
I do not have a strong opinion here. Will let you know if I would have one;)

[2018-07-23 14:03] #14 closed

[2018-07-24 11:31] marcosci commented on #12
Appears to be the rounding issue, as everything is fine with augusta for example.

[2018-07-24 11:39] Nowosad commented on #12
Are you sure it is not a projection issue? Augusta has a projected CRS (in meters) while Podlasie has a geographic one (in degrees). Can it influence the results?

[2018-07-24 11:43] marcosci commented on #12
Relatively sure. You can't set a CRS in FRAGSTATS, only the number of cells and resolution - and we use the same properties, not including the projection at all. It s just that FRAGSTATS rounds the resolution of podlasie to 0.003 instead of using 0.002777778.

[2018-07-24 13:12] Nowosad commented on #12
Ok, makes sense.
The new question is - how we should treat data in geographic coordinates. Is this influence the outcomes of the metrics? If so - should we (can we?) add a warning when a geographic CRS is used?

[2018-07-24 13:14] marcosci commented on #12
Most of the metrics only make sense if you have a metric CRS.
We could check for non metric CRS and let the functions using metric units print a warning?

[2018-07-24 13:19] marcosci commented on #25
I lost against tic ... @Nowosad do you know how to configure it so that it only updates the docs folder and does **not** the whole master branch ? :stuck_out_tongue:

[2018-07-24 13:39] jhollist commented on #12
Just flying by here.

Big +1 on the geographic coord checks.  Without thinking much about this... It feels like not many metrics make much sense without being projected.   If that is actually the case (and not just my whim) then requiring projected and not geographic coordinates might make sense...

[2018-07-24 13:42] jhollist commented on #2
I have the same comment as @laurajanegraham.  I'm happy to take a pass through the vignettes.

[2018-07-24 13:43] marcosci commented on #2
No worries :-)

I think that a huge benefit of the package would be a clearer documentation as competitors - maybe if you find something there? Or you have the feeling that some examples on the homepage are missing.

Thanks @jhollist :-)

[2018-07-24 13:43] jhollist commented on #2
Oh, and FANTASTIC job on this.

As of now I am planning on attending USIALE this year.  If anyone else is going, perhaps we could organize a workshop?  I, of course, will need to get some hands on time with the package.

[2018-07-24 13:54] laurajanegraham commented on #2
Great, shall focus on documentation when I look over it.

@jhollist Workshop at USIALE sounds like a great plan. I'd really like to go, but need to work out whether it's going to be possible. UK-IALE seems to not be happening this year, but the World congress is in Europe next year (Italy), so we could aim for a workshop there too perhaps? I'll keep an eye out for the calls.

[2018-07-24 14:08] marcosci commented on #25
Nevermind, works ... sorry :)

[2018-07-24 14:08] #25 closed

[2018-07-24 14:38] marcosci commented on #12
So, to structure that a bit:

1. I don't think that FRAGSTATS is doing any conversion - you can not specify that anywhere and while playing around with it it appeared to only read the number of cells and resolution as meta info about your raster.

2. The function in the package should work no matter how projected your data is. However, you lose the information about the resulting units and cannot

[2018-07-24 14:41] jhollist commented on #2
Italy would be great, but my chances of making that are likely near 0 😞

But we could all collaborate on development of workshop materials and then we could each present the workshop at the meeting we can attend?

[2018-07-24 14:47] Nowosad commented on #12
The second option is technically possible, but rather not recommended. There is not a perfect metric CRS for all of the cases.
Therefore I would be in favor of the first option.

[2018-07-24 14:53] marcosci commented on #12
OK :-)

We could also make it in map units, but then we would lose the advantage to compare against studies in the literature that used FRAGSTATS - I think this would be less desirable than the warning?

[2018-07-25 06:03] marcosci commented on #19
extract_xxx isn't any better, isn't?

- calculate_xxx
- compute_xxx
- derive_xxx

:thinking:

[2018-07-25 06:35] mhesselbarth commented on #12
So if we throw a warning and just return the values, wouldn't that be somehow using map units ?

[2018-07-30 08:15] marcosci commented on #15
MFRAC is missing, too:

http://www.umass.edu/landeco/research/fragstats/documents/Metrics/Contagion%20-%20Interspersion%20Metrics/Metrics/C118%20-%20MFRAC.htm

[2018-07-31 06:40] marcosci opened #26 "Memory"
We should mention somewhere on the homepage that computing a lot of metrics (especially if you parallelize your code) creates a lot of copies of the rasters, so setting:

[code]
... can save some time finding out why RStudio freezes every now and then.

[2018-07-31 06:42] mhesselbarth commented on #26
Even without parallelizing R crashes quite fast

[2018-07-31 07:24] mhesselbarth commented on #19
I would prefer an identical prefix to group all of them. How about using `get_xxx`, so just remove the `rcpp_` part for the name of the R wrapper.

Functions that may be interesting are:
- rcpp_get_coocurrence_matrix
- rcpp_get_coocurrence_vector
- rcpp_get_offdiagonal_vector
- rcpp_get_pairs
- rcpp_get_composition_vector
- rcpp_get_nearest_neighbor

[2018-07-31 12:48] Nowosad commented on #19
Marco and Max, sorry for the delay with this. I'd been at a conference whole last week, and this week is also crazy. I will think about it and make it done in a week or so.

[2018-07-31 15:48] marcosci commented on #19
Just started to implement the utility functions - nothing set in stone, if you want to change/add/remove/whatever something that is totally fine :+1:

[2018-08-01 07:22] marcosci opened #27 "Hectare/Metrics"
This came up in the [testing issue](https://github.com/marcosci/landscapemetrics/issues/12):

Hectare vs map units.
Fragstats uses hectare and assumes everything you put into fragstats is in meters and has a resolution > 0.0001. We are obviously not limited by that and could use map units instead. Nevertheless, from the reproducibility and science perspective, one would lose the capability to comp

[2018-08-01 13:27] marcosci commented on #27
It would just be another unit for the spatial scale, wouldn't it?

Anyways, you are for leaving at is and make the warning more prominent in the readme?
I am just not a big fan of implementing warnings everywhere and check for the projection.

[2018-08-01 13:31] Nowosad commented on #27
No, It would not be. Area of e.g. 1 sq km is always (relatively) stable. However 1 sq degree (sic) is different near the equator and near to the poles... (https://www.stuffintheair.com/images/World_Map.png)

[2018-08-01 13:44] marcosci commented on #27
That's why one always needs an expert in the group - makes perfect sense, I am total map dummy ...

[2018-08-01 13:47] Nowosad commented on #27
Teamwork FTW.

[2018-08-01 13:49] Nowosad commented on #19
Awesome work!
One small idea - how about using our `lsm_` prefix here as well?
E.g. `lsm_get_xx()`?

[2018-08-01 13:51] Nowosad commented on #26
What's a role of this option here? Can you give me any example?

[2018-08-01 14:07] mhesselbarth commented on #19
We had the idea to use lsm_ as a prefix only for functions that actually calculate a metric and not for auxiliary or helper functions

[2018-08-01 14:14] Nowosad commented on #19
Ok, that's fine.

[2018-08-01 14:58] mhesselbarth commented on #26
Well....we are not quite sure at the moment what exactly the problem is. One would just execute the line at the beginning of a script to increase the RAM the `raster` package is allowed to use (e.g. `options(rasterMaxMemory = 1e10)` for 10 GB RAM). However, I tracked the RAM and it is actually basically empty, however, RStudio crashes. Not really sure what the reason is though,,,

[2018-08-01 15:00] Nowosad commented on #26
Have you tried executing it outside of RStudio?

[2018-08-01 15:11] mhesselbarth commented on #26
@marcosci  recommended to use the jobs-tool of the newest RStudio version which is kind of doing it outside RStudio

[2018-08-01 15:41] #27 closed, assigned to nobody

[2018-08-01 15:42] #19 closed

[2018-08-02 08:33] marcosci opened #28 "Vignette New Metrics"
Hey Jakub,

I started a vignette about new metrics in landscapemetrics that are not from FRAGSTATS.
The idea is to shed some light on them and that they don't drown in the masses of metrics coming from FRAGSTATS:

https://marcosci.github.io/landscapemetrics/articles/articles/new_metrics.html

I would reference every paper there and link the functions. I think it would be nice to have 3,4 sentences

[2018-08-02 10:37] Nowosad commented on #28
Yes, yes, yes.

[2018-08-02 16:31] Nowosad commented on #28
I've added a short description a few minutes ago - https://github.com/marcosci/landscapemetrics/commit/3ba7f760627e5f649822a5236eaa9d6198b24b11. My plan is also to add several examples, but due to my other commitments - it will probably happen sometime next month..

[2018-08-03 05:08] marcosci commented on #28
Awesome job :-) Thanks!

[2018-08-03 05:08] #28 closed

[2018-08-03 05:08] #26 closed

[2018-08-03 06:14] marcosci commented on #2
we just opened a new github organization for landscape ecology and moved the package there - should make admin stuff of the github part easier (if you have a nice package that fits in the context (looking at you, grainchanger :stuck_out_tongue: would be cool to have a central place for such packages in this thing).

i would close this issue here now - you all have write access, so if you stumble u

[2018-08-03 06:14] #2 closed

[2018-08-03 08:10] laurajanegraham commented on #2
I have some time to have a look over the package this afternoon - is it still worth doing, or have you started the CRAN submission process already?

I was thinking grainchanger might fit nicely into this group of packages. The paper outlining the method is currently in review. The package itself needs improving - it's currently based on the raster focal function, but that is incredibly slow, so I'

[2018-08-03 08:35] mhesselbarth commented on #2
Sorry, but we just submitted it to CRAN this morning...Hope this is ok for you!

[2018-08-03 08:37] laurajanegraham commented on #2
No problem, I'm sorry I didn't get around to it. I did think you may have already submitted from some stuff I saw on twitter. Good luck and fingers crossed all goes well!

[2018-08-03 09:12] Nowosad commented on #2
@laurajanegraham, please still take a look at the package today. Your opinions/ideas can be used for the next CRAN release.

[2018-08-03 09:13] laurajanegraham commented on #2
Okay, I shall do.

[2018-08-03 09:14] marcosci commented on #2
Sure thing :-) Your input is more than welcome :)

And drop me a mail regarding grainchanger - I really like the idea and if you like I can have a look at it :)

[2018-08-03 09:17] laurajanegraham commented on #2
Great! Shall send you a mail - I have some questions about integrating existing c++ code into an r package that you may be able to help with...

[2018-08-03 15:46] laurajanegraham opened #30 "Vignettes"
I've had a look over the vignettes. It's looking fantastic and really well explained. I've made a few small corrections (typos and additional clarification where needed). Do you want me to just push, or would you prefer me to fork and do a pull request?

Some points on which I did not want to make large changes:

# General points
- Do you have any plans to allow for vector input? I can see cases i

[2018-08-03 15:47] laurajanegraham opened #31 "get_adjacencies"
A couple of points on the get_adjacencies function that I think need clarifying / improving:

1. upper = TRUE only has an effect (and only makes sense) for unlike. What is the reasoning for having this parameter?

2. Full explanation of the output would be useful.

3. The second parameter will take in some nonsensical parameters. For example, a single number can be provided as input, but it doesn'

[2018-08-04 13:08] marcosci commented on #30
Thanks so much Laura :blush:

1. You have full admin rights here, so go nuts :smile: Only thing to consider now is: if you change something, please make a branch with the changes and then if everything works we merge it back. Reason is, that the master branch will now only contain the CRAN version and develop should be a stable version with new stuff in between CRAN submissions. So if we develop s

[2018-08-04 15:42] mhesselbarth commented on #30
I think the way to go on from here, is to create a new branch from the develop branch whenever someone wants to add or modify the code. Once everything is running smoothly we can merge the new branch into the development branch. The development branch would be the stable one for installing the package from GitHub, while the master branch would be the one for the CRAN releases. So feel free the cre

[2018-08-04 15:43] mhesselbarth opened #32 "How to proceed"
Maybe just a short explanation how we thought it would be the best to develop the package from now on.

I think the way to go on from here, is to create a new branch from the develop branch whenever someone wants to add or modify the code. Just name the branch according to your changes (e.g. the name of the new function or metric). Once everything is running smoothly we can merge the new branch in

[2018-08-04 15:44] mhesselbarth commented on #31
I will look at this on Monday

[2018-08-07 17:43] marcosci opened #33 "stars"
Stars is on CRAN now, I tested it once and it should be rather easy to support them - should we add that in the coming release or is there anything speaking against that?

[2018-08-08 07:17] mhesselbarth commented on #33
I don't see why not 👍

[2018-08-08 11:07] mstrimas opened #34 "Landscape metrics within neighborhood of points (feature request)"
Great package, love the interface! I see two use cases that this package doesn't directly address, which come up for me when generating habitat covariates for species distribution models:

1. Given a set of points, calculate landscape metrics within a neighborhood of each point, e.g. within a 1km buffer.
2. Given a landcover raster at fine resolution, e.g. 30m, aggregate to a coarser resolution, e

[2018-08-08 11:33] mhesselbarth commented on #34
Glad to hear you like the package, thanks 😄!

Regarding 1: We working on a small study currently doing exactly what you described. So there is a fair chance we are going to include this as a helper function in the nearer future. However, we basically clip/crop the raster area around each point (using different buffer shapes) and just loop through the clippings (so not a very sophisticated solution

[2018-08-09 15:39] mhesselbarth commented on #32
Okay.....there is a slight change of the procedure.

We created a new branch called "CRAN". This is the branch containing the current version on CRAN and should only be pushed to for new CRAN releases (it is also protected).

The "master" branch is now the branch with the stable GitHub version and new features should be branched from there. We are going to delete the "develop" branch.

We did this

[2018-08-13 06:02] mhesselbarth opened #38 "Ideas for future updates"
Just a list of possible ideas for future updates.

Maybe it makes sense to also include this list as a page on the homepage?

- [ ] Think about including `terra` at some point
- [ ] Including parallel computation (if we can somehow can controll what is happening): #87
- [ ] Make sure everything runs for large raster

[2018-08-13 06:02] #33 closed

[2018-08-15 08:43] marcosci commented on #38
stars should work now :+1:

[2018-08-15 14:12] marcosci commented on #38
show_cores() implemented, needs to be tested still.

[2018-08-16 12:52] mhesselbarth commented on #34
Should be implemented in the master branch. Check out `sample_metrics()` function. You can provide sample points (either as a matrix or as sp SpatialPoints). However, it is not fully tested yet!

In case you have any feedback, we would definitely appreciate it.

[2018-08-16 18:40] mhesselbarth commented on #34
I just recognized I forgot to implement some options for `calculate_metrics()` (e.g. `directions`). Nevertheless, the sample function should aready work. I will fix the missing options tomorrow

[2018-08-17 07:29] mhesselbarth commented on #34
Should be fixed

[2018-08-17 12:59] mstrimas commented on #34
This is great, thanks for implementing that so quickly, at first look this is exactly what I was hoping for. Found that it wasn't working for SpatialPoints, and submitted a small pull request to fix.

Only improvement I can see at the moment would be to have it work for sp and sf objects.

[2018-08-17 13:37] marcosci commented on #34
Hi Matt, awesome, thanks a ton for fixing!

sp should work now, shouldn't it? :) maybe we could support polygons for irregular shapes, if that makes any sense.
For sf: I think at some point we decided that `as(from_sf, "Spatial")` is probably not worth the extra dependency.

Anyways, we included you as contributor, hope that is fine :-)

[2018-08-17 14:05] mstrimas commented on #34
sp works fine now, and that makes sense re extra dependency for sf, easy enough for the user to just call as("Spatial"). Thanks again!

[2018-08-17 14:05] #34 closed

[2018-08-17 14:06] #32 closed

[2018-09-03 14:23] marcosci opened #42 "memory leak rcpp functions"
For larger raster objects (starts in my case with 263169 cells - 513x513 rasters from NLMR) I get the following error:

[code]
Happens for some at random times, in the case of rcpp_get_composition_vector every time.
Only appears on Scientific linux/gcc 6.3.0, not on my Ubuntu machine.

Will look into this in 2 weeks - just a reminder here.

[2018-09-04 07:58] mhesselbarth opened #43 "Base_functions()"
I just created a new branch called `base_functions` - the idea is to subsequently replace purrr::map with the apply family (base R) and also get rid of all pipes. Both just adds dependencies we actually don't really need

[2018-09-04 08:17] Nowosad commented on #43
And what do you plan to do with **dplyr**?

[2018-09-04 08:32] mhesselbarth commented on #43
I would prefer to keep `dplyr`. We use it quite heavily and the alternatives would mean to recode a lot of stuff in a more complicated way. I know it imports `magrittr` again. But I would get rid of the pipes anyway. We had one example were piping broke something for large raster (can't remember where exactly).

[2018-09-04 08:35] Nowosad commented on #43
Ok. I just asked because of this magrittr dependency.

[2018-09-04 08:37] mhesselbarth commented on #43
I mean if you really want to keep purrr and piping I'm open to discussion :)

[2018-09-04 08:45] Nowosad commented on #43
I fine with this idea. The only question is the performance. Have you tried to measure computation time with and without purrr/pipes?

[2018-09-04 08:57] mhesselbarth commented on #43
No, not really...but my understanding is that pipes are generally a bit slower. But the issue we had with probably a memory issue for a long pipe for a large raster may be already a good argument ;)

Just run a few quick benchmarks for `purrr::map` vs. `lapply()` and seems like there is basically no difference

[2018-09-04 08:57] Nowosad commented on #43
Cool. That was my guess, but it is always better to check;)

[2018-09-05 12:43] Nowosad commented on #43
@mhesselbarth There are still some errors.

[code]

[2018-09-05 12:43] Nowosad commented on #43
```  ══ testthat results  ══════════════════════════════════════════════════════  OK: 1450 SKIPPED: 0 FAILED: 3  1. Error: calculate_metrics can calculate class metrics (@test-calculate-metrics.R#10)   2. Error: (unknown) (@test-lsm-c-pafrac.R#4)   3. Error: (unknown) (@test-show-correlation.R#6) ```

[2018-09-05 12:44] mhesselbarth commented on #43
Give 5 minutes! I just need to push and merge

[2018-09-05 13:06] mhesselbarth commented on #43
Everything should work now. Sorry for the mistake, forgot to push some stuff...

[2018-09-05 14:32] Nowosad commented on #43
Perfect.

[2018-09-05 14:32] #43 closed

[2018-09-06 06:43] mhesselbarth commented on #42
This is fixed as long as GEOS > 3.5 is installed, right?

[2018-09-06 13:17] marcosci commented on #31
Hey @laurajanegraham,

1. You find the same pattern in base::diag(), so we thought that there is maybe someone that has a workflow which relies on the upper diagonal :man_shrugging:

2. I made it a bit more verbos, is it fine like this?

3. Fixed, now throws a warning if the input is neither 4, 8 or a matrix.

[2018-09-12 13:41] #30 closed

[2018-09-21 13:49] jsta opened #44 "Document comparison with SDMTools::PatchStats"
I am considering porting some code using `SDMTools::PatchStats` to `landscapemetrics::calculate_metrics(what = "patch")` but I am having some difficulty comparing their outputs. Would some documentation comparing the two be welcome? If so, does it make sense to document in the README, vignette, or function docs?

[2018-09-21 13:55] marcosci commented on #44
If I remember correctly SDMTools does not convert the results to hectar and so on, as FRAGSTATS and we do - do you mean that with difficulties?

Otherwise: We should probably make this vignette a bit more broad:

https://r-spatialecology.github.io/landscapemetrics/articles/articles/comparing_fragstats_landscapemetrics.html

... and include SDMTools there :+1:

[2018-09-22 11:59] mhesselbarth commented on #44
I remeber checking (just very quickly) some results with `SDMTools` and think everythink looked ok, with exception of the units mismatch (which sometimes leads to a propagation). Maybe we should have a closer look if something else may be a problem @marcosci.

[2018-09-22 14:03] marcosci commented on #44
Yup, the vignette needs an update anyway :+1:

[2018-09-23 11:50] marcosci commented on #38
What about a function that takes a raster and a vector and performs calculate_lsm on each ID of the vector? The vector would be something like the municipalities of a state.

[2018-09-24 05:01] mhesselbarth commented on #38
This basically corresponds to the idea that `sample_metrics()` is able to use a polygon if I understand you correctly...

[2018-09-28 15:44] rnvuefsppgm opened #46 "error in large Raster files"
Hello all
I have several raster files with the characteristics below, when I try to calculate any metrics (any level) returns error in memory (below example). Is there any alternative to calculating the metrics in large files like these? Some alternative to this problem would be very important.

Thank you in advance for your thoughts, they are very much appreciated!

Best Regards

Rodrigo Vasconce

[2018-09-28 15:55] rnvuefsppgm commented on #46
Sorry I forgot to describe my machine. I have a laptop 16 GB RAM DDR4, I7
thanks
R.

[2018-09-28 17:42] Nowosad commented on #46
Have you tried to change the `maxmemory` option? For example to:
[code]

[2018-09-28 20:04] rnvuefsppgm commented on #46
Hi Jakub

Same error
Error: cannot allocate vector of size 6.3 Gb

[1] 13191.89

[1] 16267

Thanks

R.

Em sex, 28 de set de 2018 às 14:42, Jakub Nowosad <notifications@github.com>
escreveu:

[2018-09-30 06:11] marcosci commented on #46
Hi Rodrigo,

without your actual raster the error is quite hard to replicate.
From what it looks like you have too little memory on your machine (as your raster is indeed quite big) - plus landscapemetrics creates a second copy of your raster for each land cover class.

Some thoughts:

- Are the 255 values actual land cover classes? Seems to me quite a lot - landscape metrics are meant for categor

[2018-10-01 08:35] marcosci commented on #42
Found the suspect:

`rcpp_get_composition_vector` seems to lead to segfaults ... unfortunately not very reliable, as the problem doe not occur every time I run my scripts.

@Nowosad do you have any idea why that could happen there? The only thing related I could find was:

https://github.com/RcppCore/RcppArmadillo/issues/108

... as it indeed occurs most often for large raster.

[2018-10-01 09:20] marcosci commented on #42
I implemented a new version here:

https://github.com/r-spatialecology/landscapemetrics/blob/threadsafe_composition/src/get_composition_vector2.cpp

... it s a bit faster even than your solution, was there any reason you did not use `Rcpp::table`?

[2018-10-01 09:28] Nowosad commented on #42
Awesome!
The only reason I can think of right now is that I didn't know about `Rcpp:table`;)

[2018-10-01 10:57] marcosci commented on #42
OK, I thought that you had maybe a clever reason why you weren't using it.
Should work now and give the same results as the old version.

I just did a pull request - maybe you and/or Max can have a quick look over it, as we do use get_composition_vector quite often.

[2018-10-01 12:20] Nowosad commented on #42
I've tried it a few times - looks good.
@marcosci Awesome change - faster and simpler code!

[2018-10-01 13:04] mhesselbarth commented on #42
Love how we always improve stuff 1 day after we sent an update to CRAN :)

[2018-10-01 13:05] marcosci commented on #42
nice :) we should thank Dirk Eddelbuettel for Rcpp sugar, otherwise I would still be failing around.
It's currently installing on our HPC and I do really hope it fixes the segfault errors ...

and @mhesselbarth that's just an excause to have another version coming up

[2018-10-01 14:34] marcosci commented on #42
Just had a couple of good results coming from our HPC ... weeks of trouble finally solved :sweat_smile:

I would close here now, but we should have a deeper look into our src folder at some point with vagrant.

[2018-10-01 14:34] #42 closed

[2018-10-02 07:16] marcosci commented on #38
Coming from the last issue with RAM problems:

What do yall think if we design a function `options_lsm()` with a memory argument, that would control where `get_patches` stores the raster? If user have limited memory, then we would set this to FALSE for example and let get_patches write it's result in a tmp folder and hence store the raster on disk, rather than in RAM.

Would slow the package even

[2018-10-02 14:43] mhesselbarth commented on #38
I like both ideas

[2018-10-03 07:10] Nowosad commented on #38
I can work on the second idea in the next few days. Regarding the first one - I am interested in seeing some alfa version and how it would behave...

[2018-10-03 07:12] marcosci commented on #38
OK; will give it a try later :+1:

[2018-10-07 17:55] Nowosad commented on #38
@mhesselbarth @marcosci I've started working on the `show_info()` function -  https://github.com/r-spatialecology/landscapemetrics/commit/ac655f83157bc682dc79994637d4a27415d57765. Let me know what do you think about it and how to improve it;)

[2018-10-08 09:14] marcosci commented on #38
Awesome @Nowosad

I did some small changes, so that it throws some messages with hints why stuff could not work - is that fine by everyone? Was to lazy to make the check sign and cross green/red, pillar seemed to complicated :astonished:

And I renamed it, as we used the prefix `show_` for the vis functions.

[2018-10-08 12:09] marcosci commented on #46
Any Progress @rnvuefsppgm ? If not, feel free to open again :)

[2018-10-08 12:09] #46 closed

[2018-10-08 14:09] jsta commented on #44
Here is my comparison attempt: https://gist.github.com/jsta/bd791f2c5e2609775bf9b322abb27c01

[2018-10-09 06:56] marcosci commented on #44
Hi Joseph,

I just included a section about SDMTools here in this vignette:

https://r-spatialecology.github.io/landscapemetrics/articles/articles/comparing_tools.html#comparison-with-sdmtools

I changed your code a bit to show how you would get the same results with SDMTools as with landscapemetrics/FRAGSTATS. The metrics you were after would rather be calculated with ClassStats in SDMTools, or?

[2018-10-09 09:06] marcosci commented on #38
Next idea:

I do **really** like the printing of tibbles at the moment (in the console). The color encoding makes it quite handy to inspect your results already at this stage.

Do you think it's worth to implement that for our printing? Have colors for the level, layer, or whatever makes sense?

[2018-10-09 13:08] marcosci commented on #38
@Nowosad, I just pushed a hack in the lsm_to_disk branch:

https://github.com/r-spatialecology/landscapemetrics/commit/7ca859e71ec8888ad6aa86fa58051a84d64439eb

Seems to work quite fine and if lsm_to_disk is true, it writes the connected labeling in temp files.
Did you ever work with package options (next step would be to have a lsm_option(), which sets a global variable lsm_to_disk = FALSE)? Othe

[2018-10-09 13:44] jsta commented on #44
Right about `ClassStats` I was trying to keep the comparison as simple as possible. I plan to do some more digging and consider a PR against that vignette if that's alright.

[2018-10-09 13:45] marcosci commented on #44
Sure :) Thanks!

[2018-10-09 13:54] marcosci commented on #38
Ok, that was much easier than expected - works like a charm, only needs some documentation.

[2018-10-09 17:29] jsta commented on #44
I updated my gist with a [more direct `ClassStats` comparison](https://gist.github.com/jsta/bd791f2c5e2609775bf9b322abb27c01#gistcomment-2726686). All the metrics look good except the `core` metrics (and `prop.like.adjacencies`/ `lsm_c_pladj`). Got any ideas? I don't get better results adjusting `directions`, `consider_boundary`, or `edge_depth`.

.

[2018-10-10 05:36] marcosci commented on #44
PLADJ should be fine, the result from landscapemetrics is correct (or at least the same as you get from FRAGSTATS).

There are datasets with the true values (calculated from FRAGSTATS, `landscapemetrics::fragstsats_class_landscape` for your example) in the package, we tested against them during the development:

[code]

You can find more here:

https://github.com/r-spatialecology/landscapemetrics/

[2018-10-22 07:14] marcosci commented on #44
@jsta If you find something knew, let me know and we reopen here :+1:

[2018-10-22 07:14] #44 closed

[2018-10-22 07:15] marcosci commented on #44
@jsta If you find something knew, let me know and we reopen here :+1:

[2018-10-22 12:35] jsta commented on #44
I settled on finding that FRAGSTATS and SDMTools `core` metrics do not match but I'm not sure why.

[2018-10-22 12:57] marcosci commented on #44
So, without the chance at looking at the code from FRAGSTATS, I assume the difference comes from the definition of edge.

SDMTools does the same basically the same as we do:

https://github.com/jjvanderwal/SDMTools/blob/2eee12d07557e2b22cd31a302c92ddb820eb4859/src/patchstats.c

(The `landscapemetrics::show_cores` functions is a good way to look at that).

We played around a little and found out th

[2018-10-22 13:49] mhesselbarth commented on #44
I guess that FRAGSTATS actually somehow measures distances to the edge and therefore the area of a cell can be only partly core area. Contrastingly, we define the edge-distance rather as "rows of cells" away from the edge. Therefore, a cell can be either completely core or completely edge.

[2018-10-29 18:02] charshade17 opened #52 "Error: requested size is too large"
Hello,

I am trying to use the lsm_p_contig function on a raster, but I keep receiving the following error:

error: Mat::init(): requested size is too large
Error in rcpp_get_coocurrence_matrix(raster::as.matrix(patches_class),  :
  Mat::init(): requested size is too large

Here's the details about my raster:
dimensions  : 30499, 28435, 867239065  (nrow, ncol, ncell)
resolution  : 1, 1  (x, y)
ext

[2018-10-29 19:12] marcosci commented on #52
Hi Charlotte,

I think I just pushed something to fix your error :relaxed:

Can you please reinstall landscapemetrics and try it again?
To make sure that the C++ code is recompiled the following should do the trick:

[code]
If it's still failing could you please post the text that the `install_github` call throws, plus your session info (`sessionInfo()`)? Is your raster data publicly available, so

[2018-10-29 19:22] charshade17 commented on #52
So I reinstalled the package. Then I tried your code, but it gave me an error:

--- Please select a CRAN mirror for use in this session ---
trying URL 'https://cran.cnr.berkeley.edu/bin/windows/contrib/3.5/landscapemetrics_0.2.zip'
Content type 'application/zip' length 2381395 bytes (2.3 MB)
downloaded 2.3 MB

package ‘landscapemetrics’ successfully unpacked and MD5 sums checked

The downloaded bi

[2018-10-29 19:58] marcosci commented on #52
No worries, I should have explained more :-)

So, instead of installing from CRAN (which install.packges does), you want to install the development version here from GitHub, thus:

[code]

[2018-10-29 20:00] charshade17 commented on #52
Ok I reinstalled the package using your code, but I still received the same error. All of the text you asked for is pasted below:

error: Mat::init(): requested size is too large
Error in rcpp_get_coocurrence_matrix(raster::as.matrix(patches_class),  :
  Mat::init(): requested size is too large

function (repo, ref = "master", subdir = NULL, auth_token = github_pat(),
    host = "api.github.com",

[2018-10-29 20:11] marcosci commented on #52
I started to write the geotiff, will let you know if I can reproduce the error :+1:

[2018-11-01 14:34] marcosci commented on #52
@charshade17 I did not forget you - I am just struggling finding a machine with enough memory :-P

Anyways, if I write the file out as a geotiff it looks like this:

class       : RasterLayer
dimensions  : 106134, 89859, 9537095106  (nrow, ncol, ncell)
resolution  : 3.673903e-06, 2.661862e-06  (x, y)
extent      : -75.28417, -74.95404, 39.86129, 40.1438  (xmin, xmax, ymin, ymax)
coord. ref. : +pro

[2018-11-01 15:07] charshade17 commented on #52
Oh that's odd, it should be at 1 m resolution. Not sure why its coming up so small. You can resample everything to a 1m resolution. Or I have uploaded the actual raster I am trying to process on my Google drive. [You should be able to download the tiff here.](https://drive.google.com/file/d/1peypM0wnd2cHCQnq7MNfePCaxCJ2-rez/view?usp=sharing)

But yes, I understand it's a challenge trying to find a

[2018-11-05 06:34] marcosci commented on #52
So, I found the function causing the error - it's an internal Rcpp function (`rcpp_get_adjacency` - @Nowosad, do you have any idea why?). Unfortunately I am quite busy at the moment, but will tackle this during the week.

[2018-11-05 08:10] marcosci commented on #52
Nope, I already tested that last week :-/ That didn't solve the problem.

[2018-11-05 09:06] Nowosad commented on #52
The error is definetely related to the integer width. Now the question is how to fix it...

[code]

[2018-11-05 09:23] marcosci commented on #52
Does the package compile for you with the integer width definition?

I had to change it last week to `# define DARMA_64BIT_WORD 1` (https://github.com/r-spatialecology/landscapemetrics/blob/master/src/get_coocurrence_vector.cpp).

Anyway, get_adjacency doesn't even use armadillo, or? I already tried it with C++11, but no luck (https://github.com/RcppCore/Rcpp/issues/460).

[2018-11-05 09:33] Nowosad commented on #52
Hm.. at least we've got some clues... I will try to rewrite some code in this cpp file later this week.

[2018-11-05 15:16] charshade17 commented on #52
Ok gotcha. Yes no rush! I really appreciate all of the help!

[2018-11-07 06:32] marcosci commented on #38
We should at some point try out terra now and think about it :+1:

https://github.com/rspatial/terra

[2018-11-09 13:43] bniebuhr opened #53 "How to spatialize metrics?"
Hi there

I have just found out about the package and it seems great. I made some tests and it is quite fast, also. Congrats for that!
My question is whether we can spatialize metrics. For instance, if I calculate the Euclidean nearest neighbor for each patch of each class, how can I produce a map with enn values in each pixel of the patches? (something to be able to visualize it, equivalent to th

[2018-11-09 14:12] mhesselbarth commented on #53
Hey Bernardo,

Glad to hear you like the packages!

Nothing like you suggest is implemented yet. But I really like the idea a lot! So maybe this could be something we try to implement for the next update...

I think the way to go would be to join patch id of the metrics `tibble` with the `get_patches()` output and just plot everything.

[2018-11-10 08:57] Nowosad commented on #52
The main issue can be reproduced here:

[code]

I've tried to find a simple workaround, but I am unable yet.

[2018-11-11 09:36] Nowosad commented on #52
The main issue here is that a maximum number of neighbors now is 2,147,483,647. For example, we have 600,000,000 cells and we want to calculate adjacency for 4 neighbors - the output needs to have 2,400,000,000 rows...
Possible (I think) way to fix it:
1. Medium rewrite - replace **Rcpp** classes with **RcppArmadillo** classes. For example `IntegerMatrix` -> `imat`. It also requires to use cpp11:

[2018-11-11 15:45] marcosci commented on #52
Yup, I also tried bigmemory and failed (more likely due to lacking knowledge).
My next shot would be xtensor ...

If that fails, we would need to start to loop through everything :-/

[2018-11-11 17:13] Nowosad commented on #52
Even a loop could not be enough - `get_adjacency()` output still needs to be larger than maxint...

[2018-11-11 17:33] marcosci commented on #52
Sure, but we could return in a list, which doesn't have size limits of a matrix, or?

[2018-11-13 16:10] mhesselbarth commented on #53
The function is now included in the most recent GitHub version of landscapemetrics. Have a look at e.g. `show_lsm(landscape, what = "lsm_p_area")`.

Is that what you had in mind  @bniebuhr?

[2018-11-13 16:28] bitbacchus commented on #52
It seems to be an issue only when using stack in C++. Both C and C++ apparently work also with much larger sizes:

`
    int **array = new int*[2];
    array[0] = (int*) malloc(4611686018427387903 * sizeof (int));
    array[1] = (int*) malloc(4611686018427387903 * sizeof (int));

   std::vector<int> vec(4611686018427387903);
`

I don't know if that's of any use, though ;-)

[2018-11-13 17:35] Nowosad commented on #53
Hey @mhesselbarth, shouldn't it show the area value? I think right now it shows an id instead:

[code]

![](https://i.imgur.com/UPzkikW.png)

<sup>Created on 2018-11-13 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1.9000)</sup>

[2018-11-13 17:36] marcosci commented on #52
I am playing around now with unsigned vectors, seems to work so far. Will rewrite get_pairs tomorrow.

I think it is going to be slower, hopefully not that much... Or are you arguing for a size limit for raster?

[2018-11-13 17:38] Nowosad commented on #52
I think it is worth to take two possibilities into account: (1) size limit or (2) performance limit. We will need to check it and decide.

[2018-11-13 18:08] mhesselbarth commented on #52
In case we are able to code a function for very large raster, that might be slower for small- and medium-sized raster, we can also use both and add an option (global?)-argument. In this case, we would have a faster version for small rasters and in case somebody wants to use a large one, there is the option...

[2018-11-15 08:19] marcosci commented on #52
Hi @charshade17, are you still here? :yum:

We tried to somehow fix it, it could work possibly ... the only problem is none of us has enough memory to try it out. Could you run:

[code]

... and say if that works for you? If so, the next step would be to try out `lsm_p_contig()`.

[2018-11-15 09:23] marcosci commented on #52
@Nowosad - at least for small raster the solution in the rcpp_fix branch seems to a bit faster, too:

[code]

`get_pairs2` is the old solution from the master branch.

[2018-11-15 11:21] Nowosad commented on #52
Ok, let me know when you have a working version and I will try it.

[2018-11-15 14:23] mhesselbarth commented on #52
50dd6316 might fix the problem. At least, now everything is running for our datasets. However, I couldn't try the really large raster (not enough RAM).

@charshade17, could you please try the following?

[code]

[2018-11-15 14:43] charshade17 commented on #52
Yes I'll try it out! Thanks guys!

[2018-11-15 15:37] charshade17 commented on #52
What version of R should I be using to do all of this? Every time I try to load the new landscapemtrics, it says I need "Rtools" which is not available for R 3.5.1

Downloading GitHub repo r-spatialecology/landscapemetrics@rcpp_fix
WARNING: Rtools is required to build R packages, but the version of Rtools previously installed in C:/Users/cshade/Documents/R/Rtools has been deleted.

Please download

[2018-11-15 15:46] mhesselbarth commented on #52
You have to download and install RTools first. You can find it here [https://cran.r-project.org/bin/windows/Rtools/](https://cran.r-project.org/bin/windows/Rtools/)

[2018-11-15 16:09] charshade17 commented on #52
Right so I did that. It installed onto my local drive for some reason, so I copy and pasted the folder into my R library but it still says: Error in library(Rtools) : there is no package called ‘Rtools’

[2018-11-15 16:12] charshade17 commented on #52
Just kidding it's working, I realized I didn't have to load R tools, haha

[2018-11-15 17:04] charshade17 commented on #52
So I'm getting a different size error, but I think it's because my RAM is maxing out. I'm going to try on a different computer with more RAM tomorrow.

landscapemetrics:::rcpp_get_coocurrence_matrix(raster::as.matrix(test), as.matrix(4))
Error: cannot allocate vector of size 3.2 Gb

[2018-11-15 20:10] bitbacchus commented on #52
@charshade17 you have 64-bit versions of Windows and R, right? 3.2 Gb sounds like it could be related to address space problems...

PS: I started commenting here because I'm sitting in the same office as Marco and next to Max' office and got somehow involved in their discussions on this topic ;-)

[2018-11-19 09:55] marcosci commented on #52
Hm, so it runs through for me - but it only returns 0s.
Will try it on our HPC today, maybe it works there (I had to run it on my local disk, maybe that introduced errors).

Weirdly, if I run it with artificial data everything works fine:

[code]

[2018-11-22 15:53] marcosci commented on #52
Took us a while, but your problem should be solved now :+1:

[code]

Can you confirm @charshade17 ?

[2018-11-24 16:42] charshade17 commented on #52
Unfortunately still not working :(

library(landscapemetrics)
library(raster)
Loading required package: sp

          1         2       3        4         5         6         7      8
1 255303212  10882210   16710   244868   1282275   1908944   3734944   2493
2  10882210 312207646  166952   188030   8179642   1541095  10597623  17188
3     16710    166952 5856294     1158      6101      3489     5

[2018-11-24 23:12] bitbacchus commented on #52
Hm, I can reproduce this and found part of the problem.

Apparently, the landscape has 422838 individual patches of class `1` alone, and `rcpp_get_coocurrence_matrix` tries to compute a co-occurrence matrix of 422838*422838 elements. You'd need about 1.5 terabytes RAM to store this.

It's likely a bug that came from 11a8d9a4d754ebee544ebcef42288f8ae857598d, what do you think?

[2018-11-25 12:48] bitbacchus commented on #52
@marcosci, yes I think you're right, it's not really a bug anymore, it's a memory issue. This is probably not a quick fix...

@charshade17 are you aware that the result of this metric would be a tibble with approx. 3-4 million lines? Just to be sure this is actually what you expected.

[2018-11-25 16:00] charshade17 commented on #52
Oh my, no I was not aware of that. I thought there would just a result for each class. I'll have to explore some other metrics.

[2018-11-25 16:06] marcosci commented on #52
You can try out show_patches, it shows you what you are looking at (given the size of your raster better set labels to false :sweat_smile :) ).

[2018-11-25 18:12] bitbacchus commented on #52
So you want to use lsm_c_contig_mean? Makes more sense. However, it unfortunately won't work either, because it is currently based on lsm_p_contig. But this in principle a solvable problem.

[2018-11-25 18:16] marcosci commented on #52
Nope, because you need the distribution of the patches to calculate the mean, sd and whatsoever. Every metric based on a summary stat would need to be changed on the patch level.

[2018-11-25 23:17] bitbacchus commented on #52
OK, in 14f32bc41db04c2f1d83ef496570382cb59d574d I tweaked rcpp_get_cooccurrence_matrix to a new function rcpp_get_cooccurrence_matrix_diag that only computes the diagonal of the matrix and hence greatly reduces the amount of memory needed.

On my laptop, it took 40 minutes and ~20 Gb RAM to calculate `lsm_c_contig_mn` on @charshade17 's raster, the results are looking promising:

[code]

Please te

[2018-11-26 06:41] mhesselbarth commented on #52
Not sure if I'm just stupid this mornining (well it is Monday...), but I get an error trying to build: `use of undeclared identifier 'get_patches_map;`

[2018-11-26 07:12] bitbacchus commented on #52
@mhesselbarth, apparently I got a bit confused on what I already committed. It should work now :-)

[2018-11-26 16:57] bniebuhr commented on #53
Hi guys,

thanks for this update. I was thinking about something like that, indeed. I think about two applications of that:
- first, the visualization;
- second, the extraction of metrics values for given locations.

Regarding the first one, one remark here:

I think it makes sense, and it is nice because the patch id informaiton is complemented by the patch area information (or any other metric).

[2018-11-26 16:59] marcosci commented on #53
Thanks for the feedback! We will include your comment for the visualization, makes a lot of sense.

The extract is already implemented, have a look at `extract_lsm`.

[2018-11-27 07:18] mhesselbarth commented on #53
You can now set `label_lsm = TRUE` to use the value of the landscape metric as label (see a757cc5a). Because the space within each cell to put the label is limited, I rounded the results to 2 digits. However, this might be problematic because really small values (e.g. for area) getting 0.

[2018-11-27 10:33] marcosci commented on #53
I did start that here, but lacked the time so far to explain the use case:

https://r-spatialecology.github.io/landscapemetrics/articles/articles/guide_sample_lsm.html

The idea would be to show `extract_lsm` and `sample_lsm` - as both function are often used in ecology.
`extract_lsm` takes points and gives you the landscape metric at this point, and `sample_lsm` buffers your points and gives a la

[2018-11-27 10:37] mhesselbarth commented on #53
Sadly, no - we still need to update the vignettes. But you can have a look at the example of the function

[code]

The function returns you the landscape metric on patch level for each patch the sample points are located in. Similar to `calculate_lsm` you can specify the metrics you want.

[2018-11-28 06:10] mhesselbarth commented on #53
Feel free to reopen anytime, but will close this for now

[2018-11-28 06:10] #53 closed

[2018-11-28 06:16] mhesselbarth commented on #38
In my opinion, I don't see a big advantage for our output. I think it would rather be a bit confusing and distracting. But if you all think it helps, I won't argue against it. Just don't see the need.

[2018-11-28 06:57] mhesselbarth opened #58 "New name"
Since we actually worked on a lot of different stuff, I just renamed branch `get_unique_values2` to `rcpp_updates`

[2018-11-28 12:44] Nowosad commented on #38
I have the same opinion as Max here.

[2018-11-28 12:47] laurajanegraham commented on #38
Because I do a lot of stuff on HPC and with multiple replicates, I find unnecessary output makes debugging problems quite tricky (it tends to swamp the output logs). So I could agree with Max and Jakub here.

You could potentially have a `verbose = TRUE` option which is set to `FALSE` as default?

[2018-11-28 13:08] bitbacchus commented on #38
Speaking of HPC: What do you think of built-in parallelization? For some C++ functions it could be trivial, and speed-up things for larger rasters. On the other hand, for HPC you want to have full control over how things are parallelized. We could have a global option in the packet that switches on or off, or just an option per function.

What do you think?

[2018-11-28 13:15] mhesselbarth commented on #38
We discussed this at the beginning and agreed that we do not want any internal parallelization to be able to control everything at the highest level

[2018-11-28 13:19] marcosci commented on #38
Which we can't for the Rcpp stuff - so trying out openmp there makes actually lot of sense :+1:

[2018-11-28 14:50] bitbacchus commented on #38
@marcosci, I'm confused ;-) We can't (why?) but it makes a lot of sense?

I'd suggest having parallelization on the Rcpp-level wherever possible, but built-in a well-documented option to switch it off for HPC use.

[2018-11-28 14:55] marcosci commented on #38
We can't control the Rcpp stuff at the top level as Max said.

And Laura: is there anything that prints to much? We were just discussing about coloring the printing.

[2018-11-28 15:01] mhesselbarth commented on #38
I don't like the idea of having built-in parallelization a lot. You need to assume that the user is not fully aware of it, forgets it or whatever, which then will lead to problems at a HPC or if the users already use functions parallel.

Maybe we can rather write a vignette to show how to use the functions (on the highest level) in parallel.  I know that all functions could be sped up by using par

[2018-11-28 15:02] marcosci commented on #38
Default could be off. Especially for the for loops the gain would be tremendous.

[2018-11-29 05:40] #58 closed

[2018-11-29 10:16] bitbacchus commented on #38
I believe there are two main user groups:

"HPC users"
- run metrics on lot's of rather small landscapes
- and/or run many metrics on fewer landscapes

"GIS users"
- run few selected metrics on a single large raster

For the first group, we need to give the control over parallelization to the user, whereas the second goup would gain massive benefits from built-in parallelization (at the Rcpp-level

[2018-11-29 10:20] Nowosad commented on #38
Hi @bitbacchus I like your ideas. However, my main problem is I cannot think right now of any robust R packages using parallelization for its calculations. Correct me if I am wrong.

[2018-11-29 10:31] Nowosad commented on #38
I am definitely not against it. On contrary, I would enjoy seeing robust parallelized functions for spatial data. My only objection is about how complex would be to implement it, maintain in the future, and being accepted on CRAN (aka working on all platforms).

[2018-11-29 10:35] marcosci commented on #38
If we find a good solution, CRAN should not be a problem:
https://cran.r-project.org/doc/manuals/r-devel/R-exts.html#OpenMP-support

[2018-11-30 09:27] mhesselbarth opened #60 "Error in lsm_p_circle"
According to FRAGSTATS manual:

We somehow missed that.

[2018-11-30 14:37] mhesselbarth commented on #60
Fixed in a7951dcb

[2018-11-30 14:37] #60 closed

[2018-12-03 15:34] marcosci opened #62 "CRAN submission v0.3"
We want to release the new version to CRAN at the end of the week.

Things to do:

- [x] Tests for all new functions
- [x] Sanity checks, maybe @mhesselbarth can run the use case again and I do the same with some NLMs?
- [x] Spellchecks, gp::goodpractice, etc. (e8f924d)
- [x] Update docs (https://github.com/r-spatialecology/landscapemetrics/commit/ebdf9025572c2d0636979065a7972f558e061cde)
- [x] `g

[2018-12-03 16:36] marcosci commented on #52
As this is already quite confusing here, I would close the issue now.
Some of the metrics now work for rasters as large as the one from @charshade17 , but others still need some tweaking.

Our goal for v0.4 should be that most of them are running then.

Feel free to reopen, if there are still issues with `lsm_c_contig_mn`

[2018-12-03 16:36] #52 closed

[2018-12-04 11:41] mhesselbarth commented on #62
goodpractice::gp() only returns some lines that are wider than 80 characters, which I think isn't a huge deal. Everything else is fixed (e8f924d7)

[2018-12-05 21:13] Nowosad opened #63 "get_unique_values() does not work for vectors"
I've started writing some additional tests and found out there is an issue when a numeric/integer vector is provided to  `get_unique_values()`:

[code]

<sup>Created on 2018-12-05 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2018-12-05 21:16] mhesselbarth commented on #63
Did you make sured you pulled and installed the most recent version? It's working for me...

[2018-12-05 21:20] Nowosad commented on #63
Thanks Max. You're right - I've thought that I pulled from the master branch, but there was issue with the merge...

[2018-12-05 21:20] #63 closed

[2018-12-07 07:03] mhesselbarth commented on #62
Just submitted v0.3 to CRAN

[2018-12-07 08:53] mhesselbarth commented on #62
Ups...we are getting an error on the pre-tests of CRAN for Debian...Not sure why and how to reproduce and fix this at the moment

[code]

[2018-12-08 07:51] mhesselbarth commented on #62
Alright...just updated `landscapemetrics` to v0.3 on CRAN...see you for v0.4 😃

[2018-12-08 07:51] #62 closed

[2019-01-07 13:38] mhesselbarth commented on #38
Do we want to include the raster-format of  `sp` in a future update as well?

[2019-01-07 14:20] Nowosad commented on #38
I would vote against it - I just think this is not worth time to add it (and maintain it in the future).
@mhesselbarth In my opinion, you could add a new GitHub issue with this idea and close it. If there would be someone who wants this - they can reopen the issue.

[2019-01-18 17:13] Nowosad opened #67 "Problem with sample_lsm()"
Based on the example in the help file:

[code]

<sup>Created on 2019-01-18 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2019-01-19 10:32] mhesselbarth commented on #67
Oh...we forgot to adapt `sample_lsm()` to the new structure how metrics are selected (basically `list_lsm()`). Should be fixed now. However, `list_lsm()` doesn't has the option `what = "all"` anymore, but all metrics are selected if nothing is specified at all. Do we want to bring back the "all" option?

Anyways, should work now (ddfa8190)

[code]

[2019-01-19 10:41] Nowosad commented on #67
Thanks @mhesselbarth.
Bringing back the all option is not necessary, but it would be nice to add info that what = NULL means all metrics are calculated...

[2019-01-19 10:53] mhesselbarth commented on #67
Actually all possible options (`level`, `metric`, `type`, `what`, ...) needs to be `NULL`. Definitely worth to mention. I will update the documentation next week.

[2019-01-19 11:15] Nowosad commented on #67
One more question:
`sample_lsm()` with `return_plots = TRUE` gives a tibble with two list columns - one for the landscape summary and one with new rasters. Why is that? Shouldn't it be just the same output as the first one, but with one additional column for rasters?

[code]

<sup>Created on 2019-01-19 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2019-01-19 11:47] Nowosad commented on #67
(Btw, the name `return_plots` could be confusing - I assume it would give some kind of figure as an output. How about using `return_rasters` instead?)

[2019-01-19 11:53] Nowosad opened #68 "Edge case for `lsm_p_core()`"
`lsm_p_core()` gives an error when the input raster is just one patch. What's the proper output value here? Zero?

[code]

![](https://i.imgur.com/vGClD3q.png)

[code]

<sup>Created on 2019-01-19 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2019-01-19 15:20] mhesselbarth commented on #67
Sounds good!

[2019-01-19 15:21] mhesselbarth commented on #68
Is it just one patch or one cell? But in both cases it should be zero I guess...Didn't we already include this as a special case? Strange...

[2019-01-19 15:32] Nowosad commented on #68
Just one patch. Yep, I also was surprised by this...

[2019-01-19 15:42] Nowosad commented on #68
For now, I just added a test signalizing this error - https://github.com/r-spatialecology/landscapemetrics/commit/f4d11a9230906f18070e7d83a6dd0340a8c6791a

[2019-01-19 16:00] marcosci commented on #68
But shouldn't it be only 0 if the patch is one cell? In Jakub case it should actually return something like 100* 100 - 400,  or?

[2019-01-19 16:03] mhesselbarth commented on #68
Correct

[2019-01-19 16:13] Nowosad commented on #68
@marcosci Can you explain that? Why 100 * 100 - 400, and not 100*100? What's the fragstats result in this kind of cases?

[2019-01-19 16:21] marcosci commented on #68
Good question, could also be 100*100. Depends on what FRAGSTATS (or we) define as landscape boundary there.

Is the border of the raster the patch boundary, or landscape boundary in Suh a case?

[2019-01-19 17:01] Nowosad commented on #68
I think it is a largely philosophical question (without just one convincing answer). I think we should follow FRAGSTATS is such cases..

[2019-01-19 19:37] marcosci commented on #68
Just checked, FRAGSTATS returns a value 0f .9604 for your landscape.

[2019-01-20 10:14] mhesselbarth commented on #68
Also if you check the box to not include the landscape boundary?

[2019-01-20 23:15] marcosci commented on #68
You can't tick that on patch level, or do I miss one of the million buttons in fragstats?

[2019-01-21 05:37] mhesselbarth commented on #68
I don't remeber. Will check when I'm in the office in a bit

[2019-01-21 06:19] mhesselbarth commented on #67
Done (11df79e8)

[2019-01-21 07:17] mhesselbarth commented on #68
Alright...should be fixed now (6ec4b2a3 ). Depending on the `consider_boundary` argument we either get core = 1 (because no edge is present) or core = 0.9604 (same as FRAGSTATS)

[code]

[2019-01-21 07:45] mhesselbarth opened #69 "All checks return note"
All checks started to return:

[code]

Any ideas why?

[2019-01-21 08:11] Nowosad commented on #69
That should be a solution - https://github.com/r-spatialecology/landscapemetrics/commit/07f1830b0615d03e5919e7b54cc9f9b88380838d#diff-bc92b187c74649b3e0a039784ff93b39

[2019-01-21 08:32] mhesselbarth commented on #69
Weird...I tried that but didn't work.  Well...whatever...thanks :) 👍

[2019-01-21 08:32] #69 closed

[2019-01-21 08:32] mhesselbarth commented on #67
The reason why we nested the `tibble` was that I thought it becomes quite tricky if you select e.g. a patch-level metric and a class-level metric. In this case, you don't know the number of rows the resulting `tibble` has because that depends on the number of patches and classes in each sample plot.

But actually, using the `plot_id` this is straightforward. So IMHO, we could just return the `tibb

[2019-01-21 08:37] mhesselbarth commented on #68
Please re-open if anyone is not happy with the solution

[2019-01-21 08:37] #68 closed

[2019-01-21 08:39] mhesselbarth commented on #67
Please reopen if someone is not happy with the solution
[code]

[2019-01-21 08:39] #67 closed

[2019-01-21 08:43] mhesselbarth opened #70 "Update 0.3.1"
I think the bugfixes and changes (see attached `NEWS.md`), especially the one in `sample_lsm()` justify a CRAN realease (v.0.3.1). If you guys agree, I would submit it to CRAN later this week.

Things to do:

- [x] Update @details of `list_lsm()` on how to get all metrics (d34573c5)
- [x] Update `DESCRIPTION` (Version: 0.3.1)
- [x] Update `cran-comments.md` (51098df3, 90896df8)
- [x] Update `NEWS.

[2019-01-21 10:25] Nowosad opened #71 "Error in `lsm_p_circle()`"
[code]

![](https://i.imgur.com/IUvcVwy.png)

[code]

<sup>Created on 2019-01-21 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2019-01-21 11:59] mhesselbarth commented on #71
Done (e6a4bf1f)

[code]

[2019-01-21 11:59] #71 closed

[2019-01-21 12:01] mhesselbarth commented on #70
I just fixed #71 and closed it (e6a4bf1f).

Not sure what to do about the C++ issue at the moment. It seems like the devel version of R can't handle the TRUE/FALSE matrix for the neighbourhood in `get_adjacencies()`, right? But again, doesn't show up in any other check.

[2019-01-21 13:40] Nowosad commented on #70
I think it could be due to a different C++ compilator (or a different version of a compilation) used by `devtools::check_win_devel()`.

[2019-01-21 13:52] Nowosad opened #72 "problem with `lsm_p_gyrate()`"
It is probably related to https://github.com/r-spatialecology/landscapemetrics/issues/71.

[code]

![](https://i.imgur.com/gSCQ03P.png)

[code]

<sup>Created on 2019-01-21 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2019-01-21 13:53] Nowosad commented on #70
@bitbacchus could you help us here?

[2019-01-21 14:59] mhesselbarth commented on #72
Same problem as #71. Should be fixed (6e9646ac).

[2019-01-21 14:59] #72 closed

[2019-01-21 16:16] mhesselbarth commented on #70
Strange...I just downloaded the R development version and ran the `R CMD check` locally and no errors occurred.

[code]

[2019-01-21 18:00] mhesselbarth commented on #70
Also failing but with a different error (See [here](
https://builder.r-hub.io/status/landscapemetrics_0.3.1.tar.gz-8e969b2db1fe4b798331e4dda1032af0))

[2019-01-21 18:13] marcosci commented on #70
It says status success there?

[2019-01-21 18:56] mhesselbarth commented on #70
Yeah...but in the mail it says error and if you look at the report, there is also an error

[2019-01-22 07:04] mhesselbarth commented on #70
If you guys agree (@Nowosad, @marcosci) I would submit the update to CRAN and see what happens...

[2019-01-22 17:33] Nowosad commented on #70
Ok, I've checked it. It works;)

[2019-01-22 17:44] marcosci commented on #70
But I think it will not pass because of the errors on devel, they check the same on CRAN.

Could it be that it's because of the check we are doing there for the input of the neighborhood definition? If I remember correctly, the devel version of R checks for logical operators now and throws an error if wrongly used (I think we only want a single ampersand there, or?).

I just sent out a new version

[2019-01-22 19:08] marcosci commented on #70
No, that's not the problem either.
I fixed it anyways by skipping the example on CRAN.

We should try to find a better solution for create_neighborhood ... right now we code NA, 0, 1 in the filter matrix, but the 0 is actually unnecessary? The center of the filter should always be the middle of the matrix, so endocing as true/false or 1/0 should be enough, or?

[2019-01-22 20:09] Nowosad commented on #70
Maybe this info could be helpful (source: https://github.com/ropensci/drake/releases)

[2019-01-22 20:13] marcosci commented on #70
I fixed that in one of the last commits, but there was still an error with rcpp_create_neighborhood (and the conversersion there of logical values, hence my last comment) :+1: .

[2019-01-22 20:18] Nowosad commented on #70
@marcosci What's the error message now?

[2019-01-22 20:30] marcosci commented on #70
Yes, because the center (we now code it as a 0) is anyways always on the middle, or?
Would also make it it easier to create a filter matrix.

[2019-01-22 20:32] Nowosad commented on #70
That's all true. However, now we can have situation with the center in every location. Maybe it is not useful now, but it could be someday... Cannot we think of a solution on the Rcpp level?

[2019-01-22 20:37] marcosci commented on #70
Most likely - yes :yum:

I can check that next week, when I am back in the office - I don't what happens with the NAs in a matrix with RcppArmadillo and need the computer in the office for that.

[2019-01-23 08:00] mhesselbarth commented on #70
Okay...I think I fixed the error finally (5449333d).

The problem was that the test if  `neighbourhood` is either 4, 8 or a matrix didn't really work. If `neighbourhood` was a matrix, `neighbourhood != 4` checked if each element in the matrix unequals four (and not if the object itself unequals 4).

[code]

[2019-01-23 16:56] mhesselbarth commented on #70
I just submitted to CRAN. @Nowosad Maybe you can open a new issue about the tests? I would close this one

[2019-01-23 16:56] #70 closed

[2019-01-23 17:06] Nowosad opened #74 "Add a diagonal_matrix test"
Related to https://github.com/r-spatialecology/landscapemetrics/issues/70#issuecomment-456705610

[2019-01-23 17:27] Nowosad commented on #74
https://github.com/r-spatialecology/landscapemetrics/commit/8397a0b30a3d9430a3a21963dd977be575526945

[2019-01-23 17:27] #74 closed

[2019-01-24 05:08] marcosci opened #75 "tic"
Just included a running tic script, that automatically:

- renders the readme
- runs devtools::document
- builds the website

... if there is anything else you would like to be done by tic, let me know!
Currently, this behavior is only triggered on the master branch - so if you fork something, this will not happen there.

[2019-01-24 05:09] #75 closed

[2019-01-24 07:43] Nowosad commented on #75
Great work Marco.
One thing though - is it renders the readme? It looks like .Rmd differs from .md now...

[2019-01-24 14:35] marcosci commented on #75
Somehow the deployment script is empty on CRAN, I will investigate.

Anyways, the idea is to also move the website to a dedicated branch, should make the download from github less smaller in the future.

[2019-01-28 14:20] mhesselbarth opened #76 "Getting rid of dplyr"
@marcosci and I just discussed to get rid of the `dplyr` dependency.

Most of the time we only use `group_by()`in combination with `summarise()`which could be replaced by `aggregate()`. Besides that, we use `mutate()` here and there. But also this could be repplaced quite easily.

All of this would make our coding a bit more complicated, but maybe worth getting rid of the dependency?

Any thoughts

[2019-01-28 15:45] bitbacchus commented on #76
maybe it's also worth checking if there is a simple solution in Rcpp available...

[2019-01-28 19:04] Nowosad commented on #76
A summary of how we use **dplyr** is summarized below using **dplyr**:

[code]

<sup>Created on 2019-01-28 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2019-01-29 08:02] mhesselbarth commented on #76
I just created a branch (no_dplyr), so we can subsequently try to remove all `dplyr` functions.

[2019-01-30 20:31] gregforcey opened #77 "Using check_landscape yields class of <NA""
I'm calculating the metrics on a series of 32-bit signed integer grids (ERDAS img format), however `check_landscape()` does not recognize these as integer grids. When I perform `check_landscape()` I get the following message
[code]
Despite the error, I can still calculate metrics for these grids. I also tried converting these to 8-bit unsigned like the `august_nlcd` example, but I got the same err

[2019-01-31 06:20] mhesselbarth commented on #77
Hey Greg,

If you are sure everything with your raster is fine, you don't need to worry about the error message - all the results should be correct. Or do you get any strange results e.g. `for lsm_l_pr(x)` (number of classes on landscape level)?

Can you provide us with the input raster, so we can try to reproduce the error?

[2019-01-31 18:38] gregforcey commented on #77
Results seem normal for `lsm_l_pr(testgrid)`
[code]
I sent you an e-mail with the grid in question.

[2019-02-01 13:21] mhesselbarth commented on #76
...and d151eea9 is the last commit removing `dplyr` completely

[2019-02-01 13:41] mhesselbarth commented on #76
Done #78

[2019-02-01 13:41] #76 closed

[2019-02-01 13:43] mhesselbarth opened #79 "Structure of tests"
At some point, we should revise all tests and not only check if the returning objects are `tibbles` (as done now), but also check if the content makes sense (e.g. if the  correct types/levels of metrics are present)

[2019-02-12 21:05] gregforcey opened #80 "Moving window feature of FRAGSTATS"
This isn't really an issue with `landscapemetrics` per se but more of a usage question. Is there any way to replicate the moving window feature in `FRAGSTATS` where you can output a raster that characterizes a particular metric for a given land use type (e.g., a grid could characterize percent forest)? I know the `raster` package has the `focal` function which seems to at least partially do this.

[2019-02-13 08:19] mhesselbarth commented on #80
Currently, that is not possible, but I think something to think about for the future @marcosci @Nowosad ? Shouldn't be too hard using raster's `foca()l` function, right?

[2019-02-15 16:12] mhesselbarth opened #81 "Does pad_raster introduce bias?"
Sometimes we need to add padding to a raster at the boundary of the landscapes. Following, the "old" row and column Ids 1 become row and column IDs 2 afterwards.

Could this introduce some problems? We always remove the padding I think at some point again (which should result in the original row/col numbers).

However, maybe we need to have a second look at this (but not on a Friday #yolo)

[2019-02-16 10:22] Nowosad commented on #81
Hi @mhesselbarth, could you add a small example here? It would be easier to discuss the issue then.

[2019-02-16 13:24] Nowosad commented on #80
Yep, I think it could be a nice feature. I am not very familiar with the moving window options in FRAGSTATS, so please correct me if I am wrong:

1. **Input** - (a) landscape, (b) moving window size, (c) some of the arguments in `calculate_lsm()` (https://github.com/r-spatialecology/landscapemetrics/blob/master/R/calculate_lsm.R), (d) if a class level is chosen - then a value of selected class
2.

[2019-02-17 21:26] marcosci commented on #80
The output would then be a rasterstack that has the same dimensions as the tibble, or?
So for every row from `calculate_lsm` we would have a single raster in a rasterstack, or?

I like the idea and I think we looked at the remaining functionality of FRAGSTATS some weeks ago ... but I have the feeling that the focal function from the raster package could be way to slow for the biggish rasters peopl

[2019-02-18 06:17] mhesselbarth commented on #80
I thought the output would be just one raster (same dimensions as the input) where every focal cell gets the value of the moving window, e.g. the percentage of a certain land-cover class.

From the FRAGSTATS manual (https://www.umass.edu/landeco/research/fragstats/documents/fragstats.help.4.2.pdf):

[2019-02-18 07:24] mhesselbarth commented on #81
[code]

Here a short example: Because of the padding, the row/col IDs change. The value in the original matrix at `mat[2, 4]` is in `mat_padded[3, 5]` after the padding (depending on how many rows/cols are added).

However, I'm not sure if this leads to any problems. I guess everything should be fine because we only look at the neighbourhood structure which doesn't change. But maybe worthwhile che

[2019-02-18 12:53] laurajanegraham commented on #80
The raster focal function is actually reasonable if the function being calculated is mean or sum. So for proportion or diversity metrics it would be okay. It's when you need to start using other (or user-defined) functions that the timing increases. The reason for this is that they have coded the mean/sum versions in C++, but any other functions get diverted into a slower version of focal.

I have

[2019-02-18 18:48] marcosci commented on #80
If you have 3 classes, how would you put 3 values for enn_mn in a raster cell? I think you need a stack in the end, or?

And Laura that sounds for a good justification to just use focal :-) Would also mean that we just have to plugin calculate_lsm there, or?

[2019-02-18 18:51] mhesselbarth commented on #80
Yeah right...didn't think about class level. So on class level it would be a stack/list (with as many layers as classes) and on landscape level just one RasterLayer

[2019-02-22 11:45] Nowosad commented on #81
@mhesselbarth I cannot think rigth now of any problem that this could create... It is good that you've opened this issue though - maybe someone will find this issue in the future and make a case why it is wrong/ok.

[2019-02-22 15:02] mhesselbarth commented on #81
I also thought about it a bit more but couldn't find any problems.

Please re-open if anything comes up.

[2019-02-22 15:02] #81 closed

[2019-02-24 10:58] Nowosad opened #82 "Problem with `lsm_l_ai()`"
Today, I unexpectedly came across a problem with `lsm_l_ai()` - it gave `NA` on some of my small raster.
My raster file - [test.zip](https://github.com/r-spatialecology/landscapemetrics/files/2897819/test.zip).

[code]

[2019-02-24 11:13] Nowosad commented on #82
https://github.com/r-spatialecology/landscapemetrics/blob/d87ebd2f0acef4146bef7f680adc95bc957e802b/R/lsm_c_ai.R#L163

Shouldn't the aggregation be 100 for only one-cell classes? @mhesselbarth @marcosci

[2019-02-24 11:20] Nowosad commented on #82
Ok, based on the last quote, it seams that the **landscapemetrics** implementation is correct. However, I am still unsure if this approach is the best.

WIP

[2019-02-27 03:44] marcosci commented on #80
So, something in the line of that?

[code]

![](https://i.imgur.com/VNVOI4I.png)

<sup>Created on 2019-02-27 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2019-02-27 20:54] Nowosad opened #83 "website issues"
I was looking for one example on the package website and found out a few issues:
1. https://r-spatialecology.github.io/landscapemetrics/articles/articles/general-background.html - the plot of the left panel is not visible (there is only one color).
2. The second link in "More" is not working (https://r-spatialecology.github.io/landscapemetrics/articles/articles/comparing_fragstats_landscapemetrics

[2019-02-27 20:56] marcosci commented on #83
I am going to fix this, also the plots. Just figured out how to reduce the whitespace, too.

[2019-02-27 22:23] marcosci commented on #83
1. fixed (one of the reason we we needed to update landscapetools on CRAN)
2. fixed, at some point someone apparently changed the vignette filename.
3. changed it, should now make more sense.

[2019-02-27 22:23] #83 closed

[2019-02-28 14:50] mhesselbarth commented on #80
Okay... I think `window_lsm()` is what we want (9adf643d).

I didn't check in detail, but the returning values seemed reasonable to me at first glance.

I modified @marcosci suggestion a little bit to avoid too many conversion between raster and matrix (and vice versa). I did some benchmarking and the speed gain was quite a lot.

The return is always a nested list to be type stable. The first leve

[2019-03-02 13:09] Nowosad commented on #80
@mhesselbarth I've played with the new function for a while and it looks truly awesome.
I think the further steps could be:
1. Add a support for class level metrics - it would fit nicely as rasterstacks. There could even be an option of selecting just one class...
2. Add tests.
3. Write a vignette describing how  the moving window works.

What do you think? @mhesselbarth, @marcosci ?

[2019-03-02 16:03] mhesselbarth commented on #80
All props go to @marcosci, he came up with the basic idea 👍

1. I think this would be very cool, just makes it a bit more complicated because we probably need to add one loop/apply to go through all classes and stack the results somehow
2. Agreed
3. Agreed

[2019-03-04 06:46] mhesselbarth commented on #80
I added some first tests. While doing this, I noticed that the window matrix must be at least 3x3 and additionally have uneven sides. `raster` actually returns an error message when using the `focal()` function. Do we want to check that even before and throw our own error message, or is the `raster` one good enough?

[code]

[2019-03-05 07:05] mhesselbarth commented on #80
The feature is now implemented in the development version on GitHub and will be part of the next CRAN update.
Currently, only landscape level metrics are supported, however, class level metrics will probably be possible some point in the future.

[code]

I will close this for now, please re-open if you miss something.

[2019-03-06 09:58] wegmann opened #85 "assign metric value back to spatial object"
Hello,
great and needed R package. Do you plan or is it already possible to assign the patch or class metrics back to a spatial object?

I would like to create a map of patches with corresponding metric values instead of a table similar to the r.pi GRASS package.

thanks, Martin

[2019-03-06 10:07] mhesselbarth commented on #85
Hey Martin,

thanks for the feedback.

If I understand you correctly, `show_lsm()`is what you are looking for. You can find some information [here](https://r-spatialecology.github.io/landscapemetrics/articles/articles/utility.html)

[code]

[2019-03-07 06:54] Nowosad opened #86 "Decide on the ggplot2 dependency"
...in a few weeks

[2019-03-07 06:56] Nowosad opened #87 "Check if the future.apply package can be useful"
https://github.com/HenrikBengtsson/future.apply

[2019-03-07 07:00] marcosci commented on #86
... in a more comfortable environment! :beer:

[2019-03-07 07:50] mhesselbarth opened #89 "Update CRAN 1.0"
- [x] Update DESCRIPTION (Version: 1.0) (4712e337)
- [x] Update cran-comments.md (4712e337)
- [x] Update NEWS.md (4712e337)
- [x] Run R CMD check and devtools::check_win_release() and devtools::check_win_devel()
- [x] Merge with CRAN branch (#90 )
- [x] Create "release"-tag

I would like to merge with the CRAN branch and send the update to CRAN next week

[2019-03-07 11:24] Nowosad commented on #85
It  gives me an error:

[code]

<sup>Created on 2019-03-07 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2019-03-07 11:33] mhesselbarth commented on #85
You have a typo in your code resulting in not selecting any metrics. `what` must be a vector with strings and not just one large string.

[code]

Should we have two different error messages if  wrong metrics are selected (e.g. class level) and no metrics are selected at all (because of e.g. wrong specifications as diversity metrics on patch level)?

[2019-03-07 11:35] Nowosad commented on #85
My mistake, I just copy-paste your example without any thinking;)

[2019-03-07 11:36] Nowosad commented on #85
Btw is that warning necessary there?

[code]

<sup>Created on 2019-03-07 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2019-03-07 11:40] mhesselbarth commented on #85
The warning comes from `list_lsm()` because there the `what` argument kind of overwrites all other specifications, e.g. `list_lsm(level = "landscape", type = "diversity metrics", what = "lsm_p_area") only gives you the patch area.

[2019-03-07 11:58] Nowosad commented on #85
I guessed that. Maybe a better approach would be to show this message only when some other argument than `what` is specified?

[2019-03-07 12:00] mhesselbarth commented on #85
Good idea, shouldn't be too hard. Will look into that

[2019-03-07 12:53] mhesselbarth commented on #85
Okay...that's actually how it was already programmed in `list_lsm()`. The problem was that the default for `get_lsm()`was `level = "patch"` which conflicted with a provided `what` argument. Should be fixed now (816bd28a)

[2019-03-07 13:07] Nowosad commented on #85
@wegmann it this the function you are looking for?

[2019-03-07 13:36] wegmann commented on #85
yes, thank you - I will try it out in the next days

On 3/7/19 2:07 PM, Jakub Nowosad wrote:

[2019-03-07 13:42] Nowosad commented on #85
Great! Feel free to reopen the issue if something is wrong/unexpected.

[2019-03-12 10:54] Nowosad commented on #89
I looked at  the pull request - looks good.
I also reread all of the opened issues - are we able to add some of the missing metrics (https://github.com/r-spatialecology/landscapemetrics/issues/15) at this point?

[2019-03-12 11:31] mhesselbarth commented on #89
Thanks for looking at the pull request!

I don't think anyone worked on that.

[2019-03-12 12:59] mhesselbarth opened #91 "Vignette how to convert matrix to raster"
A (brief) vignette how to convert a matrix to a `RasterLayer` might be helpful for users only having matrix data. Not sure how realistic that case is, but certainly wouldn't hurt to have a vignette anyhow (especially since it shouldn't be too much work).

[2019-03-12 22:31] nkaza opened #92 "Bug in calculate_lsm(rast, what = c("lsm_c_ca"))?"
This is my first bug report. So apologies if I am not doing something right.

I am getting different results from
`calculate_lsm(rast, what = c("lsm_c_ca"))`and  `lsm_c_ca(rast)`

[code]

And I don't think the difference is the units. [Here](https://www.dropbox.com/s/po7053awwiobl6p/r2014.img?dl=0) is the raster I am using.

[2019-03-13 07:18] mhesselbarth commented on #92
Hey,
Thanks for the bug report - well done 👍

Using `calculate_lsm()`, the resolution was somehow lost. Should be fixed in the development version. Simply, use `devtools::install_github("r-spatialecology/landscapemetrics")`.

[code]

In case everything is fixed to your satisfaction, please close the issue :)

[2019-03-13 17:46] nkaza commented on #92
Excellent. Thank you!

[2019-03-13 17:46] #92 closed

[2019-03-15 12:57] mhesselbarth commented on #89
v1.0 arrived on CRAN 🎉

[2019-03-15 12:57] #89 closed

[2019-03-18 20:34] dschlaep opened #93 "aggregation index can become larger than 100"
Problem: The aggregation index can become larger than 100.
Expected range: 0-100 (as per documentation `?lsm_c_ai` and `?lsm_l_ai`)

Version from March 18, 2019: `devtools::install_github("r-spatialecology/landscapemetrics")`

Reproducible example:
- Create raster with one class --> no problem, as expected
[code]

- Add at least one empty cell to raster --> result is larger than maximum expected v

[2019-03-19 06:04] mhesselbarth commented on #93
Hey Daniel,

thanks a lot for your very detailed issue.

We will look into this and come back to you as soon as possible.

[2019-03-19 12:49] mhesselbarth commented on #93
Okay....I think I fixed it (113ea720). Not sure if the solution is smart, but it's working 🤷‍♂️  . I also cross-checked with FRAGSTATS quickly, and results seem to be identical.

Just install the latest development version using `devtools::install_github("r-spatialecology/landscapemetrics"` - will also be part of the next CRAN update.

[code]

@marcosci @Nowosad: Please have a look, maybe it's sma

[2019-03-19 12:58] dschlaep commented on #93
Great! Thank you for addressing this so quickly!

[2019-03-20 14:37] bitbacchus commented on #93
The bug was actually in the C++ code. I fixed it (8968bb6) hopefully.

[2019-03-20 14:43] mhesselbarth commented on #93
Well done 👍

Feel free to re-open at any time.

[2019-03-20 14:43] #93 closed

[2019-04-08 08:18] mhesselbarth opened #95 "Allow parametrization in sample_lsm() and extract_lsm"
If I see it correctly, we don't allow any further parametization in `sample_lsm()` and `extract_lsm()` at the moment (e.g. `directions`). Was there a reason for this, or did we just forgot about it?

[2019-04-08 08:23] mhesselbarth opened #96 "stars object not possible for all functions"
I think there might be a few utility functions where we forgot to add a `stars` method.

[2019-04-08 15:29] mhesselbarth commented on #95
done #97

[2019-04-08 15:29] #95 closed

[2019-04-10 13:06] mhesselbarth opened #100 "Update 1.1"
@Nowosad @marcosci

Looking at the NEWS.md, there are quite some bugfixes and improvments. If you agree, I would update the CRAN version to v1.1 within the next days.

- [x] Update DESCRIPTION (Version: 1.1)
- [x] Update cran-comments.md
- [x] Update NEWS.md
- [x] Run R CMD check and devtools::check_win_release() and devtools::check_win_devel()
- [x] Merge with CRAN branch
- [x] Create "release"-t

[2019-04-11 07:53] #85 closed

[2019-04-11 07:55] mhesselbarth commented on #80
Ups...I just found a bug in `window_lsm()` for some metrics. Please make sure you install the most recent development version using `devtools::install_github("r-spatialecology/landscapemetrics"). Will also be part of the next CRAN update.

[2019-04-11 13:48] mhesselbarth commented on #91
Well..we have a function for this with an example. Should be enough.

[2019-04-11 13:48] #91 closed

[2019-04-12 10:44] mhesselbarth commented on #96
done 12787e02

[2019-04-12 10:44] #96 closed

[2019-04-12 10:46] mhesselbarth opened #102 "Make sure everything runs for large raster"
related to #52

[2019-04-12 10:50] mhesselbarth commented on #87
Could be possible for `calculat_lsm()` without too much struggle.

However, I would argue for a global option with a `FALSE` default value. I once read a blog post arguing against a default internal parallelization in packages because we never know how the users apply the package. If we internally already request cores and the user does the same wrapped around our function, this could be a problem

[2019-04-12 10:51] mhesselbarth opened #103 "Think about including terra at some point"

[2019-04-12 10:51] mhesselbarth commented on #38
I opened issues for the remaining bullet points for a better overview

[2019-04-12 10:51] #38 closed

[2019-04-12 11:00] Nowosad commented on #87
Definetely! I plan to add this package to the next version of the landscapemetrics package (1.2?).

[2019-04-15 21:21] heislele commented on #17
Hello,

I am getting the above error when using sample_lsm to call lsm_c_ed, lsm_c_para_mn, and lsm_c_cohesion. For example:

Load land cover raster

Set up sample locations (points)

Calculate edge density within 500m of each sample location (i.e., owl)

Error in neighbor_matrix[2:ncol(neighbor_matrix), 1] : subscript out of bounds

[drive-download-20190415T204715Z-001.zip](https://github.com/r-s

[2019-04-15 21:44] heislele opened #104 "Error from sample_lsm: 'subscript out of bounds'"
Hello,

I am getting the above error when using sample_lsm to call lsm_c_ed, lsm_c_para_mn, and lsm_c_cohesion. For example:

Load land cover raster

Set up sample locations (points)

Calculate edge density within 500m of each sample location (i.e., owl)

Error in neighbor_matrix[2:ncol(neighbor_matrix), 1] : subscript out of bounds

[drive-download-20190415T204715Z-001.zip](https://github.com/r-s

[2019-04-16 07:25] mhesselbarth commented on #104
Hey Leanne,

Glad you like the package :)

I tried to reproduce your error, however, it seems like the raster file got somehow damaged while saving ("Failure during raster IO"). Could you please try to write/save the raster and upload the file again.

Thanks a lot.

[2019-04-16 15:42] heislele commented on #104
Oh sorry about that!

Turns out the raster I loaded  the first time was too big, so I included a subset of 3 samples and revised the code below:

[TEST_RASTER.zip](https://github.com/r-spatialecology/landscapemetrics/files/3085697/TEST_RASTER.zip)

Cheers!
Leanne Heisler

[2019-04-17 06:18] mhesselbarth commented on #104
The error occurs because your raster values are not discrete classes. You can use the `check_landscape()` function to check if your raster is suitable for landscapemetrics.

The result shows that the values are non-integers (not allowed) and 1153 different classes exist (highly unlikely for discrete land-cover classes). I just quickly "floored" your values and everything works now. I don't know if

[2019-04-17 06:39] mhesselbarth opened #105 "Sample ID"
I got an e-mail asking about the possibility to not use 1...n as plot_id (as we do it now), but rather an original plot ID(which might be more realistic for real-world studies in which plot IDs are often non-sequential).

I came up with the solution below to add the original ID to the input data and simply `left_join()` the result. But maybe this could be an option to set e.g. by an argument speci

[2019-04-18 20:53] heislele commented on #104
That was definitely the problem, thank you for your help, it is greatly appreciated!
Cheers!
Leanne Heisler

[2019-04-19 05:07] mhesselbarth commented on #104
Great!

Will close this for now - please re-open if needed.

[2019-04-19 05:07] #104 closed

[2019-04-19 18:17] Nowosad commented on #87
https://github.com/r-spatialecology/landscapemetrics/pull/106

[2019-04-19 18:35] Nowosad opened #107 "Performance of `rcpp_get_unique_values()`"
I tried two computers while working on https://github.com/r-spatialecology/landscapemetrics/issues/87. The first one is a laptop with i5 and the second one is a desktop with a much better i7. The performance of `rcpp_get_unique_values()`, however, is about 10 times better on a laptop. Can you think why is that? @marcosci @mhesselbarth @bitbacchus

## laptop with i5

[code]

<sup>Created on 2019-04

[2019-04-24 07:57] bitbacchus commented on #107
Hm, this sounds weird. Can you try again with manually setting the number of iterations:

[code]

Are the versions of gcc the same? Do both PC have SSD disks?

[2019-04-24 08:58] marcosci commented on #107
Do you know what's the default number of iterations there Jakub? Could that be a source for this (maybe it was just too few iterations)?

[2019-04-24 08:59] marcosci commented on #102
Should we start a list here of what would need an update for that?

[2019-04-24 09:43] Nowosad commented on #107
# laptop with i5

[code]

<sup>Created on 2019-04-24 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

# desktop with i7

[code]

<sup>Created on 2019-04-24 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

gcc on both computers: `gcc (GCC) 8.3.1 20190223 (Red Hat 8.3.1-2)`. Also - both computer have SSD disks.

It is not a huge problem for me, however It wo

[2019-04-24 10:05] bitbacchus commented on #107
But is it actually related to rcpp_get_unique_values?
Is
[code]
also faster on the i5 laptop?

[2019-04-24 10:09] Nowosad commented on #107
# laptop with i5

[code]

<sup>Created on 2019-04-24 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

# desktop with i7

[code]

<sup>Created on 2019-04-24 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2019-04-24 12:22] marcosci opened #108 "Parallel rcpp code"
hey yall,

just had a quick look on how to parallelize the rcpp stuff and discussed it with Sebastian.

I think the only thing we would have to change is a single line in the Rcpp code of most of the functions and maybe provide another argument to the function (the number of cores to be used, could be defaulted to 1).

Have a look at `rcpp_get_coocurrence_matrix` and tell me what you think (the on

[2019-04-24 13:21] bitbacchus commented on #86
makes total sense, what Marco says.

[2019-04-24 14:40] mhesselbarth commented on #86
Okay will close this until somebody brings me a wine!

[2019-04-24 14:40] #86 closed

[2019-04-24 14:48] mhesselbarth commented on #108
Again, I would argue for having a new function, e.g. `rcpp_get_coocurrence_matrix_parallel()`

[2019-04-24 15:53] bitbacchus commented on #108
This would produce much redundant code that may diverge over time and make it complicated to maintain the code. I see the benefit of having fewer function arguments for the external functions, but I would argue to have no redundant code for the internal functions.

[2019-04-24 16:24] mhesselbarth commented on #108
That might be true as well...I really don't like the idea of inbuild/internal kind of "hidden" parallelization. Defenitly something we need to carefully think about.

[2019-04-25 06:54] marcosci commented on #108
The question would be how to access the internal argument of the Rcpp functions then :thinking:

 What I am thinking about is:

I have a very large raster and I just want to calculate `lsm_p_perim` for that single raster.
Currently, this runs sequential - however, as most of our C++ is just plain for loops we could very easily parallelize that part of our code (see the first post).

I discussed th

[2019-04-25 08:38] bitbacchus commented on #108
We could introduce a wrapper function that calls the RCpp functions with the argument like so:\

[code]

[2019-04-25 10:17] marcosci commented on #108
But we still would need one of the two points I mentioned to control the single metrics, for example `lsm_p_perim(landscape, num_cores = 16)`.

[2019-04-25 11:36] mhesselbarth commented on #108
Exactly!

[2019-04-25 11:45] mhesselbarth opened #109 "Package structure"
Related to #86:

Maybe an idea is to split this package into `landscapemetrics` and e.g. `landscapemetrics.engine`.

We could move all "core" functions (i.e. calculating metrics) to the core package and importing it in `landscapemetrics`. This would give exactly the same functionality as now for `landscapemetrics` and users would experience no difference (including all plotting/sampling etc. funct

[2019-04-25 12:53] marcosci commented on #108
So, there is a parallel version of `rcpp_get_coocurrence_matrix` now in this branch:

https://github.com/r-spatialecology/landscapemetrics/blob/rcpp_parallel/src/rcpp_get_coocurrence_matrix.cpp

... it works, and is a lot faster.

However, the results if one uses more than one core are ... fluctuating :laughing:
I have no idea why, but [these lines](https://github.com/r-spatialecology/landscapemet

[2019-04-26 14:33] Nowosad commented on #109
I cannot find our previous discussion on this topic, but I am in favour of going that.

[2019-04-26 14:51] mhesselbarth commented on #109
Yeah, not really sure in which issue we acutally talked about this...

[2019-04-26 14:52] mhesselbarth commented on #100
Submitted to CRAN

[2019-04-26 14:52] #100 closed

[2019-04-28 15:49] bitbacchus commented on #108
I toyed around a bit on my laptop (i7 dual core with hyperthreading = 4 threads):
![benchmark](https://user-images.githubusercontent.com/19432439/56866654-0343b000-69dc-11e9-94e6-0ddae5342fcc.png)

ncores = 0 is the original function, without any OMP; ncores 1-4 are the number of CPU cores used.
@marcosci is this what you mean with fluctuating?

My interpretation:

- the original function is faste

[2019-04-28 19:40] bitbacchus commented on #108
![benchmark](https://user-images.githubusercontent.com/19432439/56869227-23846680-69fe-11e9-8ce3-5d3bfdf3f829.png)
Here I tested a larger raster (Charlottes tif)

[2019-04-29 05:36] mhesselbarth commented on #108
I think the problem is not that the runtime is fluctuating but the results...which is kind of a problem 😄

[2019-04-29 07:13] marcosci commented on #108
Can you show what you did there Sebastian?

On my computer it's substantially faster:

[code]

The only problem is that the results are different if I use more than 1 core (totally random each run, but the difference is quite small to our correct result).

[2019-04-29 08:38] bitbacchus commented on #108
Oh, I didn't realize this... I'll have a look.

[2019-04-29 09:13] mhesselbarth opened #111 "Only use tibble if package is available"
@marcosci and I just discussed it might be nice to only return a `tibble` if the package is installed and if not to return a `data.frame`. This would allow to get rid of the tibble dependency.

[2019-04-29 10:49] bitbacchus commented on #108
Should work now, please check.

The problem was, that multiple threads wrote to cooc_mat at the same time (i.e. racing condition problem). To prevent this from happening in the future, I'd suggest using  `default(none) ` in the parallel pragma to avoid any implicitly shared objects and add all needed objects explicitly with `shared()` (see code).

[2019-04-29 10:57] marcosci commented on #108
Didn't even see `default(none)` ... only static and dynamic. Do you have any good ressource for OMP?
But nice! Then I can go ahead and implement it for the rest - if the design decision is settled?

Just a quick recap:

- OMP allows us to parallelize our Rcpp code without any further dependency
- The default is still single threaded

We just have to decide which of the two options we want:

[2019-04-29 11:17] bitbacchus commented on #108
Yes, but I don't find it anymore ;-)
This looks good: https://bisqwit.iki.fi/story/howto/openmp/

[2019-04-29 13:14] Nowosad commented on #108
Great work! I am very impressed.

Is is possible to do both? If not, I would vote for 2.

[2019-04-29 13:15] marcosci commented on #108
Perfect, that was our tendency, too!

[2019-04-29 13:15] mhesselbarth commented on #108
I'm also in favor for the second option and adding an additional global option shouldn't be a big problem as well

[2019-04-29 13:16] Nowosad commented on #108
:1st_place_medal:

[2019-04-29 13:40] bitbacchus commented on #108
Both would be cool!

[2019-05-02 08:21] marcosci opened #112 "FAQ vignette"
Does a FAQ vignette makes sense?

Collect common themes from previous issues here and highlight hidden functionality (like `to_disk`)

[2019-05-02 10:10] mhesselbarth commented on #112
Doesn't hurt 👍

[2019-05-02 14:23] marcosci commented on #108
To-Do:

- [x] rcpp_get_coocurrence_matrix
- [x] rcpp_get_coocurrence_vector
- [ ] rcpp_get_coocurrence_matrix_diag
- [ ] rcpp_get_circle
- [ ] rcpp_get_nearest_neighbour
- [ ] rcpp_get_boundaries

... I already finished the first 2 points, maybe some of you can have a look at it and correct me before I do the rest:

https://github.com/r-spatialecology/landscapemetrics/tree/rcpp_parallel

[2019-05-03 13:10] bitbacchus commented on #112
Sure, good idea!

[2019-05-06 11:10] bitbacchus commented on #108
I'd suggest having a default 'n_cores' in the C++ code, as well. This makes the code more backward compatible. I also tested the performance on a server with 32 cores
![Rplot](https://user-images.githubusercontent.com/19432439/57221540-f2102a00-6fff-11e9-9d09-665bd023dbfd.png)

It's interesting, to see the trade-off between the overhead of creating more threads and the speed-up due to parallelizat

[2019-05-07 07:02] marcosci commented on #108
Somehow I couldn't compile when I used a default argument in the `rcpp_get_coocurrence_matrix` function :thinking: :man_shrugging:

And CUDA would mean another dependency, or? And changing the code?

[2019-05-07 13:58] bitbacchus commented on #108
Where did you set the default? In the header or source file? You can't do it in both, I'd put int in the header.

Yes. It actually needs also a different compiler, not sure if Rcpp still works, and a complete recode of the C++ part. Not to talk about the hardware dependency ;-)

[2019-05-07 14:09] marcosci commented on #108
That worked like a charm and is implemented now.

So, let's never talk about it again :smile:

[2019-05-13 17:38] vjjan91 opened #114 "Need a function that gets correlation scores - perhaps get_correlation()?"
show_correlation() currently only plots the correlation scores against one another, but I need a way to remove variables that are highly correlated to one another.

[2019-05-14 08:21] mhesselbarth commented on #114
There now is a function called `calculate_correlation()` which works similar to `show_correlation()`, but returns a `tibble` with all the correlations. This can be used easily to remove all highly correlated metrics.

Please use `devtools::install_github("r-spatialecology/landscapemetrics", ref = "get_correlation")` to install the development version of the package. Please be aware that the functi

[2019-05-14 08:21] #114 closed

[2019-05-14 12:12] Nowosad commented on #114
Just a side note @vjjan91 - I do not think removing all of the correlated variables is a good idea. If they are highly correlated, they probably indicate some property...

[2019-06-11 20:12] vjjan91 opened #118 "Error using sample_lsm()"
Currently trying to calculate the class-level metrics for a given raster within a 1km buffer.

Code:
land_1km <- sample_lsm(lc2018, y = pointsLsm, shape = "circle", size = 1000,
                    level="class")

I am getting this error: Error in .local(obj, ...) : NA values in coordinates

Help?

[2019-06-12 05:06] mhesselbarth commented on #118
Hey,
Could you please provide the data so we can reproduce the error?

[2019-06-12 07:36] marcosci opened #119 "new argument for calculate_lsm"
We should introduce a new argument to calculate_lsm, that has several options based in the literature of landscape metrics. These options each store a selection a review made of meaningful metrics, see for example:

- Cushman, S.A., McGarigal, K. & Neel, M.C. (2008). Parsimony in landscape metrics: Strength, universality, and consistency. Ecological Indicators, 8, 691–703.
- https://global.oup.com

[2019-06-12 10:10] mhesselbarth commented on #119
I like the idea, but the best place would be to add this to `list_lsm()`. `calculate_lsm()` simply class that anyways.

The easiest would be to all e.g. "chushman" was `what`-argument.

[2019-06-12 10:21] Nowosad commented on #119
I would not go this way. I haven't read the "Essentials..." book yet, but I know the Cushman et al. paper. It uses some example regions and analyses them using principal components analysis, clustering, and discriminant analysis. While it is useful, I would think it is not universal for each dataset or scale.

In the same time, I think it could be a good idea to create a vignette with a sample cal

[2019-06-12 17:18] vjjan91 commented on #118
Here's the raster - https://www.dropbox.com/sh/eqdvh0cjrabma10/AABQrcQtuNeIBY43-c91ZiW6a?dl=0

Please let me know once you use the same.

[2019-06-12 17:24] vjjan91 commented on #118
The pointsLSM used above are:

coordinates(pointsLsm)
             X       Y
 [1,] 702732.0 1264140
 [2,] 702740.0 1264317
 [3,] 704278.5 1264938
 [4,] 704475.3 1264887
 [5,] 704686.6 1264835
 [6,] 718493.4 1145769
 [7,] 718324.6 1145621
 [8,] 718326.0 1145388
 [9,] 718346.8 1144981
[10,] 718352.3 1144686
[11,] 718578.9 1144951

[2019-06-12 17:28] vjjan91 commented on #118
This is weird! I tried the same function today and it worked on the raster. The only thing I did differently was not truncating the data range on the raster:

ie. lc2018[lc2018 < 1 | lc2018 > 7] <- NA

[2019-06-12 17:39] vjjan91 commented on #118
I figured out the error. There were NaN values for the pointsLsm object. Thank you for offering to take a look!

[2019-06-12 17:39] #118 closed

[2019-06-17 12:17] mhesselbarth commented on #105
528d6476

[2019-06-17 12:17] #105 closed

[2019-06-17 12:26] mhesselbarth commented on #107
I will close this for now. Please re-open if needed.

[2019-06-17 12:26] #107 closed

[2019-06-18 07:05] Nowosad opened #120 "Export headers in inst/include"
Hi all,
I am now working on a different package that in its c++ functions uses some c++ code from landscapemetrics (e.g. rcpp_get_coocurrence_matrix). Right now, for the development purposes, I just copied the .cpp files to the new package, but probably the better way is to expose the landscapemetrics cpp headers in inst/include.

What do you think about that?
Of course, there are two possibilitie

[2019-06-18 07:12] mhesselbarth commented on #120
Related to #109:

As discussed in #109, I will split the landscapemetrics package in the nearear future into landscapemetrics.engine (including all metrics and building blocks and thereby the Rcpp stuff) and landscapemetrics (including all sampling and visualization functions and importing lsm.engine).

[2019-06-19 14:11] Nowosad commented on #120
The answers here can be useful for this case - https://twitter.com/jakub_nowosad/status/1140969799062888448.

[2019-06-26 11:06] mhesselbarth commented on #79
I worked a bit on the tests today and there seem to be some weird warnings if you use the "Test package" shortcut of RStudio.  The warnings are not present if you just execute the functions on the console.

[2019-07-08 15:17] croeland opened #122 "issue with sample_lsm"
I am trying to calculate the amount of aspen size class around sample points. I have run the below code multiple times before with no issues but now I am getting this error message, even when I go back and run code that had previously worked.

OL_aspen_size<-raster("LO_WFIRS_18_1000AspenSize.tif")
cp_2018<-st_read("2018_capture_males.shp", quiet=TRUE)

cp2018_50_aspen_size<-sample_lsm(OL_aspen_siz

[2019-07-09 05:40] mhesselbarth commented on #122
Hey there,

We changed the name of the `points` argument to `y` to be consistent among all functions. Seems like, we forgot to write that in the NEWS. Sorry about that.

The following code should work just as before:
[code]

[2019-07-09 14:13] croeland commented on #122
Thanks for the reply,

Now I am getting a different error message....

Error: 'y' must be a matrix, SpatialPoints, SpatialLines or SpatialPolygons.

Not sure if it is something I am doing wrong or not. Thanks for the help.

[2019-07-09 15:58] croeland commented on #122
To give a little more detail on what is going on and to make sure it wasn't something wrong with my data, I followed the example on https://www.r-bloggers.com/efficient-landscape-metrics-calculations-for-buffers-around-sampling-points/amp/. Even when doing this and changing points to "y" I still got the same error message:

Error: 'y' must be a matrix, SpatialPoints, SpatialLines or SpatialPolygon

[2019-07-10 04:55] mhesselbarth commented on #122
Okay...seems like therre is a problem with your sample points (wrong data format?)

If you can provide the data (either here or via e-mail), I can have a deeper look into it.

[2019-07-10 12:26] croeland commented on #122
Here they are. I really appreciate you taking a look at them.
[cp_2018.zip](https://github.com/r-spatialecology/landscapemetrics/files/3377409/cp_2018.zip)

[2019-07-10 12:59] Nowosad commented on #122
@mhesselbarth I checked my [blog post](https://nowosad.github.io/post/lsm-bp1/) - It seems that I used an sf object as the second argument there. However, right now an sf object as a second argument returns an error. Do you know why?

[2019-07-10 13:08] mhesselbarth commented on #122
@marcosci (who is on holidays at the moment) did the sf objects so I don't know right away what the problem could be. I will have a look today or tomorrow.

[2019-07-11 07:02] mhesselbarth commented on #122
@croeland You can install the development version using `devtools::install_github("r-spatialecology/landscapemetrics")` and everything should work now. Alternatively, you can convert your `sf` object to a `sp` object using e.g. `as(cp_2018, 'Spatial')`. Both ways return in the same result.

@Nowosad `sample_lsm()` didn't support `sf` objects and I don't know why because I'm quite sure it did at so

[2019-07-11 14:33] croeland commented on #122
@mhesselbarth Thank you for your help. This package has been a great tool so far for me while working on my thesis.

[2019-07-11 15:11] Nowosad commented on #122
Thanks @mhesselbarth !

[2019-07-11 15:11] #122 closed

[2019-07-15 05:12] mhesselbarth commented on #109
I started a new GitHub repo (https://github.com/r-spatialecology/landscapemetrics.engine) the other day and already put some stuff there

[2019-07-15 05:14] mhesselbarth commented on #87
I think we all agree that we rather write a vignette how to do it in parallel (maybe using different packages, e.g. future, clustermq, etc.). Doing that, we don't have to add another dependency and users can decide which parallel package they prefer. Using `list_lsm(simplify = TRUE)` this should be straightforward.

[2019-07-15 05:14] #87 closed

[2019-07-15 05:15] mhesselbarth commented on #112
Parallel computing #87

[2019-07-30 01:30] anabugnot opened #123 "Issue when using polygons in sample_lsm"
Hello there,

I am trying to run:
`sample_lsm(habitats.r,estuaries,plot_id=estuaries@data$EST_NAME, level = "class")`

'estuaries' is a SpatialPolygonsDataFrame.

And I get:
"Error in lapply(X = raster::as.list(landscape), FUN = sample_lsm_int,  :
  argument "size" is missing, with no default"

I tried with a SpatialPolygons object, but get the same error. Any help would be much appreciated.

Than

[2019-07-30 05:29] mhesselbarth commented on #123
Hey Ana,

Oh I see...the problem is that you currently need a `size`-arugment, eventhough it is not used for polygons.

Please try to use `sample_lsm(habitats.r, estuaries, size = 0, plot_id = estuaries@data$EST_NAME, level = "class")` as a quick fix.

We will work on a better solution in a way that `size` won't be needed for polygons in the future

[2019-07-30 05:46] anabugnot commented on #123
Thanks for the quick reply!

I get another error and warnings now:

Error in .local(x, y, ...) : Cannot get an Extent object from argument y
In addition: There were 11 warnings (use warnings() to see them)

Warning messages:
1: Length of plot_id is not identical to length of y. Using 1...n as plot_id.
2: Class 18: ENN = NA for class with only 1 patch
3: Class 18: ENN = NA for class with only 1 pat

[2019-07-30 06:21] mhesselbarth commented on #123
That's a good question what the error means 😄 Seems like, there is a problem with your polygon. This might also be the reason you get the first warning. Would it be possible for you to share your (either here or via mail if you don't want to share your data publicly) so I can reproduce the error?

[2019-07-30 06:44] anabugnot commented on #123
This does work:

class      : Extent
xmin       : 217815.1
xmax       : 561367
ymin       : 5847562
ymax       : 6884361

[2019-08-01 06:23] anabugnot commented on #123
I think I might have found the problem. The subsetting of the polygons you used is not correct for SpatialPolygonsDataFrame.: y[current_plot,] should be used instead of y[current_plot]

I still cannot run the code because of other errors that derive from the fact that I am running the function in the wrong environment (this is as far as my R skills go).

[2019-08-01 07:23] mhesselbarth commented on #123
Thanks for digging deeper into the problem and I think I fixed it. You can get the newest development version using `devtools::install_github("r-spatialecology/landscapemetrics")` and see if it works.

However, there seems to be several problems with your data, I'm not sure how to fix at the moment (@marcosci, @Nowosad ).
1. The first problem is, that some of your sample plots because of their loc

[2019-08-01 07:25] anabugnot commented on #123
Thanks! I'll fix my polygons and try again.

[2019-08-05 08:58] mhesselbarth commented on #123
I will close this for now. Pleas re-open if any other problems occur.

[2019-08-05 08:58] #123 closed

[2019-08-06 10:34] Nowosad opened #124 "Adds ghcard"
Learn more at https://www.ddrive.no/post/making-hex-and-twittercard-with-bunny-and-magick/

[code]

[2019-08-06 10:34] #124 closed

[2019-08-29 13:15] mhesselbarth opened #127 "Bug in AI"
There seems to be a problem if there is only 1 class/patch and NA values. The result should be AI = 100 (same as if all cells have the same value I think)

[code]

[2019-08-29 14:26] Nowosad commented on #127
The problem is probably inside of `lsm_c_ai_calc()`:

[code]

[2019-08-29 14:31] Nowosad commented on #127
It is probably here - https://github.com/r-spatialecology/landscapemetrics/blob/d1ddb3f31e6b0ee70f5763c3e4cca51b097a4aca/R/lsm_c_ai.R#L143, but I do not know what is exactly going on there...

[code]

[2019-08-30 07:42] bitbacchus commented on #127
I tried to measure the non-NA part, only:
[code]
Either I did something wromg, or the bug affecs more than this special case-

[2019-08-30 07:55] bitbacchus commented on #127
It could be just a rounding issue:
https://github.com/r-spatialecology/landscapemetrics/blob/d1ddb3f31e6b0ee70f5763c3e4cca51b097a4aca/R/lsm_c_ai.R#L141

[2019-08-30 14:47] mhesselbarth commented on #127
I haven't got the time to look into it yet, but since the difference is just very small, the rouding issue is a good guess. I will have a look next week.

[2019-09-03 06:16] mhesselbarth commented on #127
Looking at it again, I think actually there is not a problem at all. In the example, the value with NAs should be a bit less than AI = 100, because the patch is not maximal compact. AI should reach it's maximum value if only one, compact patch is present, i.e. a square.

[code]
<sup>Created on 2019-09-03 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

Sorry for the false alar

[2019-09-03 06:16] #127 closed

[2019-09-03 07:17] mhesselbarth opened #128 "Bug in lsm_p_circle"
Haha...me again :D

This time (I'm almost sure) I really found a bug in lsm_p_circle() if the whole landscape is just one patch.

[code]

<sup>Created on 2019-09-03 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2019-09-03 07:27] mhesselbarth commented on #128
The core of the problem seems to be in get_boundaries() for all cases where only one patch is present

[2019-09-03 13:50] mhesselbarth commented on #128
Should be fixed: 6b099843 / e86f42a9

[code]

<sup>Created on 2019-09-03 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2019-09-03 13:50] #128 closed

[2019-09-08 14:01] JonHak opened #129 "export results"
I've used Fragstatats and SDMTools a fair amount and I wanted to try out landscapemetrics.  I've worked through most of the tutorial for landscapemetrics, but the one thing I can't seem to find is how to get my results out in a spatial dataset for use in GIS.  The show_patches(landscape)  gives a nice graphic of the patches, but I would like to export that type of product out as a raster and none

[2019-09-09 05:10] mhesselbarth opened #130 "Check lansdcape"
All functions that use `calculate_lsm()` return the warning to check the landscape multiple times

[code]

<sup>Created on 2019-09-09 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2019-09-09 05:19] mhesselbarth opened #131 "Add simplify argument"
It's nice that all functions are type stable and basically always return a list. However, maybe it makes sense to add a `simplify` argument in cases only one RasterLayer is provided and return not a list in this case.

[2019-09-09 05:20] mhesselbarth commented on #129
Good to hear you give `landscapemetrics` a try! I think you are looking for the `spatialize_lsm()` function, which basically returns the visual output of  `show_patches()` as a RasterLayer. Then, you can simply write this RasterLayer (or list of RasterLayers) to an e.g. TIF-file that should be readable by most GIS-software (I'm not a GIS expert though).

[code]

<sup>Created on 2019-09-09 by the [

[2019-09-09 06:35] szylinski opened #132 "extract_lsm() returning wrong values"
I've been finding that most (not all, somehow) values returned by extract_lsm() are very wrong, when I compare them to manually measured patches in ArcMap.

Here's the code I'm running:
`siteSample <- extract_lsm(MLR.r,
                          y = sites,
                          extract_id = sites$SiteID,
                          what = "lsm_p_area",
                          directions = 4)`

[2019-09-09 06:39] Nowosad commented on #132
@szylinski Could you share some version of your data with us?

[2019-09-09 19:16] JonHak commented on #129
Maximilian,
Thanks!! That did exactly what I wanted, the writeRaster syntax I have used before was a bit off from what your example showed.

Thanks again
Jon

[2019-09-10 00:47] szylinski commented on #132
@Nowosad of course: [landscapemetrics_test.zip](https://github.com/r-spatialecology/landscapemetrics/files/3593132/landscapemetrics_test.zip). These files (a raster and a shapefile) are a small clip of my MLR.r landscape. And here's my code and output from those files:
[code]
It has correctly identified that sites 196:204 are in the same patch, but their value is wrong (should be about 445 hectare

[2019-09-10 04:20] szylinski commented on #132
I've just rebuilt my code from scratch to tidy it up, and now it all seems to be working correctly... so not sure what was going wrong for me! I'm guessing this means odds are you won't be able to reproduce my problem

[2019-09-10 05:06] mhesselbarth commented on #129
Great!

I  will close this issue for now. Feel free to re-open at any time if a related/follow up question comes up

[2019-09-10 05:06] #129 closed

[2019-09-10 06:29] mhesselbarth commented on #132
There actually was a small bug - the `directions` argument was not passed on correctly to the calculations of the metrics and therefore patch delineation was wrong (or still set to the default 8 at some places).

Please install the GitHub version (`devtools::install_github("r-spatialecology/landscapemetrics`). Will also be part of the next CRAN update.

Thanks for pointing out.

[code]

<sup>Creat

[2019-09-26 07:31] ocamponata opened #134 "How do I see patch Ids (without show_patches)"
Hello, I am really enjoying the package and currently useing extract_lsm for all patch metrics for 31 sites in a 6200sq km landscape. I am having trouble matching the patch Id that I get in the output tibble with the patches spatially (which I have site names for). How can I see these patches highlighted and labelled in the map?

I tried with show_patches but it takes forever and never showed me t

[2019-09-27 06:11] mhesselbarth commented on #134
Hello,

Good to hear you enjoy the package :)

Maybe have a look at the `spatialize_lsm()`-function. The function returns the visual output of the `show_patches()` function as a RasterLayer. The raster-plotting function or other packages such as RasterVis are way faster than our `show_patches()` function which is based on ggplot2().

If you need more help, it would be great if you could share some

[2019-09-27 12:55] mhesselbarth commented on #132
Please re-open if necessaire

[2019-09-27 12:55] #132 closed

[2019-10-02 07:51] ocamponata commented on #134
Thanks for the suggestion. I used spatialize_lsm() but have not succeeded in displaying the result! I tried with all sort of raster tools.

I attach a TIF raster file with the patches I am interested in. I would like to have all the patch level statistics for each patch, knowing which ones correspond to each patch spatially, or at least being able to display the patchID in an image so that I can m

[2019-10-25 19:48] Nowosad commented on #134
Hi @ocamponata ,
I cannot think of a simple solution to your question right now. One sub-optimal solution is to calculate a few metrics using  `spatialize_lsm()` and next trying to connect it visually to the names of your field sites...

[code]

@mhesselbarth would it be possible to add an option in `spatialize_lsm()` to return an id of a patch? E.g., `spatialize_lsm(r, what = "id")?

[2019-10-25 19:51] Nowosad commented on #134
Wait... @ocamponata would the `get_patches()` function solve your question?

[code]

[2019-10-28 16:54] chrhauser opened #135 "incorrect description and question"
Thanks a lot for programming the landscape metrics package, I am just starting out working with these types of metrics and your package facilitates my life a lot!

First one observation: On page 199 of the documentation you provide the description for lsm_l_shape_cv as "Covariance of variation shape index". If I am not mistaken this should read "Coefficient of variation shape index"?

I am trying

[2019-10-30 06:28] mhesselbarth commented on #135
Hey there,

I'm glad to hear the package helps you!

Thanks for pointing out the typo. Yes, it should be "Coefficient of variation shape index". We will fix that for the newest release.

Currently, we don't have any weighted means. But that might be something we tackle in the future. Until then, it shouldn't be too hard to calculate it yourself with the functionality of the package that is already

[2019-11-04 08:53] chrhauser commented on #135
Thanks a lot for the response and the code! That was tremendously helpful!!

I have another very difficult nut to crack before I can implement the metrics in your package. Basically I would like to compute the landscape metrics for a clipped version of the Corine landcover raster data with a resolution of 100 meters. I have another dataset containing counts of social media data for the same area b

[2019-11-06 12:51] mhesselbarth commented on #135
Mmh...I am not 100% sure how to solve that. Maybe `spatialize_lsm()` could help you. The function returns you a RasterLayer in which each cell has the corresponding value of the patch level metric. Maybe, then you could use this and and `raster::extract` to get the values at the cell locations of your other RasterLayer. Probably, you need to convert it to sp points or something similar first, but

[2019-11-06 17:47] mhesselbarth opened #136 "NA in shape index"
It can happen that NAs are introduced on patch level for the shape index. Currently, this results also in NA on class- and landscape level because we do not remove the NAs when calculating the mean or standard deviation.

Should we just remove NAs for calculating the mean, sd, etc. and return a warning? I don't know how FRAGSTATS handles that case but will check.

[2019-11-06 18:07] mhesselbarth commented on #136
f5a6a01e9b0c2e212de7f87fb847ca8c922c5502

[2019-11-07 08:06] mhesselbarth commented on #136
Okay...FRAGSTATS doesn't introduce any NAs at all. I think there seems to be some problem with the minimum perimeter based on the if-else ([see here](http://www.umass.edu/landeco/research/fragstats/documents/Metrics/Shape%20Metrics/Metrics/P8%20-%20SHAPE.htm)).

One quick fix is to use the "old" function for the shape index, which leads to okayish results. However, we should look into how to fix i

[2019-11-07 09:29] mhesselbarth commented on #136
Okay...found it!  The problem is that, I guess due to some numerical issues, in the first conditions m is not equal to 0 for some patches even though it should be (but it is e,g, -9.094947e-13). Interestingly, even `as.integer` did not help.

Since the deviation between `area_patch$value - area_patch$n ^ 2` can not be smaller than 0, I just set all to 0 that are smaller.

Fixed: 18ea976b

[2019-11-07 09:51] #136 closed

[2019-11-07 10:28] Nowosad commented on #136
Great work, detective @mhesselbarth !

[2019-11-08 14:29] SIGGRUV opened #138 "Core area index calculation"
I think there is perhaps some misunderstanding of how the Core Area Index (CAI) is supposed to be calculated and reported. As I understand it, the CAI is the ratio of the core to the perimeter area for each patch, and can be distinguished by class. But the documentation for the CAI function that determines the mean says that it has no upper limit. Given that it's a ratio, the upper limit should be

[2019-11-08 16:44] mhesselbarth commented on #138
Hey,

That seems to be a mistake in the documentation. The Core Area Index equals the percentage of a patch that is core area and has to be between 0% and 100%. Well...even 100% is not really possible since some cells have to be edge.

Following, the mean on class level has to have the same range as on patch level.

We will fix the documentation, thank you for pointing out.

Does that make sense t

[2019-11-08 16:45] mhesselbarth commented on #138
86a657e2

[2019-11-08 17:49] SIGGRUV commented on #138
Hey Max, that does make sense to me. But to be clear: is the output
supposed to be in terms of percentage, or is supposed to be the ratio
between 0 and 1? Because when I ran it, I got back a value that was greater
than 1, which should not be possible if the value is supposed to be between
0 and 1 unless there is some error with the code.

Either way, thanks a bunch for writing this package! Super

[2019-11-08 17:52] SIGGRUV commented on #138
Sorry, I meant to attach an image of the outputs that I got from the CAI.

On Fri, Nov 8, 2019 at 2:48 PM Jason Sauer <jason.robert.sauer@gmail.com>
wrote:

--
Jason Sauer
PhD Candidate, Graduate Research Assistant
School of Life Sciences
Arizona State University
Mail Code: 4601
*p: *913-424-5594
*email: *jason.sauer@asu.edu

[2019-11-08 18:13] mhesselbarth commented on #138
I just double-checked to be sure, but the output is in percentage. So values larger than 1 are fine.

[2019-11-08 18:26] SIGGRUV commented on #138
Got it, thanks!

On Fri, Nov 8, 2019 at 3:13 PM Maximilian Hesselbarth <
notifications@github.com> wrote:

--
Jason Sauer
PhD Candidate, Graduate Research Assistant
School of Life Sciences
Arizona State University
Mail Code: 4601
*p: *913-424-5594
*email: *jason.sauer@asu.edu

[2019-11-08 18:40] #138 closed

[2019-11-11 07:26] mhesselbarth commented on #135
I will close the issue for now.

Please reopen if needed.

[2019-11-11 07:26] #135 closed

[2019-11-17 09:59] Nowosad opened #139 "rstudio::conf(2020L) Hex Wall"
Hi @mhesselbarth, maybe it would be nice to submit the package logo to https://docs.google.com/forms/d/e/1FAIpQLSdaLWrD1YWLVMkY7-Lw0YGUqJBpi_n4ZD39BxCIUzq2Kr-v9g/viewform. What do you think?

[2019-11-18 06:14] mhesselbarth commented on #139
Sure thing! I can submit it today.

[2019-11-18 08:08] mhesselbarth commented on #139
Done. Thanks for pointing out.

[2019-11-18 08:08] #139 closed

[2019-11-23 11:45] Nowosad opened #140 "sample_lsm() does not work on NA rasters"
The `sample_lsm()` function does not work when the sampled area is completely covered with NAs.

[code]

![](https://i.imgur.com/bEr74sn.png)

[code]
The error probably starts here:
https://github.com/r-spatialecology/landscapemetrics/blob/8a32f6d39df00dd4f6ae7aef0d247a66672b81fb/R/sample_lsm.R#L479-L488

In my opinion, the proper result should return `NA` in the `value` column, and `0` in `percen

[2019-11-24 05:24] ZanetaKaszta commented on #80
Hi, I tried to use 'window_lsm`to run patch density and aggregation index on landscape level and I'm getting this error:

Error in seq_len(nrow(area_patch)) :
  argument must be coercible to non-negative integer
In addition: Warning message:
In seq_len(nrow(area_patch)) : first element used of 'length.out' argument

This is the code I used:
`window_lsm(r2,window=window,what = c("lsm_l_pd", "lsm_l_

[2019-11-24 07:29] Nowosad commented on #80
Hi @ZanetaKaszta , I believe the issue is related to #140 - your data has some NA values and this causes the error. We need to think on how to fix it.

[2019-11-24 08:17] Nowosad commented on #140
Smaller examples are attached below.
I think the functions should return value of `NA` in those cases. What do you think @mhesselbarth ?

[code]

<sup>Created on 2019-11-24 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2019-11-26 14:13] mhesselbarth commented on #140
Should be fixed: d35fe9d48102f2c637b0ce0cfb7204f12ad3bec7 / 8530508aaa09f072ecee3627ef91fe1e49941ca2

[2019-11-26 14:14] mhesselbarth commented on #80
I fixed the issue in #140 (d35fe9d / 8530508). Not sure how that the raster::focal() function now deals with the NA values. @ZanetaKaszta can you maybe provide your data here so we can check what's going on?

[2019-11-26 19:46] ZanetaKaszta commented on #80
Hi Jakub and Max, Thank you so much for your fast reply. I think your package is extremely useful. I'm   usually using Fragstats moving window approach and having that integrated with R would be amazing. I'm away at the moment and will definitely send you the data next week.

I don not think there is any NA in my raster but I will confirm that next week. I thought it might have been a NA issue so

[2019-11-27 13:57] mhesselbarth commented on #79
Okay...I fixed the problem with the local warnings in 05c91f0b55be0aff859fe570040dac68ce3937f8. The problem was that during the checks the global option `to_disk = TRUE` was set (and not reset) which followed to some warnings afterward.

[2019-11-27 14:04] mhesselbarth opened #141 "Delete branches"
Over the time, we colleccted some branches and I'm not sure if we still need all of them.

I think we can delete the following:
- updates-ent (should be merged to master d10ae973354015dbecd435fd28e3cda41d6dd11d)
- cleaner_cpp (should be merged to master 219310af50d509b42874135a6a4069bd8221cfc0)

Not sure about the following:
- it (No idea what this is)
- future_apply (I think we all agreed to not

[2019-11-27 14:29] bitbacchus commented on #141
I agree

[2019-11-27 17:06] Nowosad commented on #141
@mhesselbarth Feel free to remove `it`.

[2019-11-27 17:08] Nowosad commented on #141
@mhesselbarth Also - remove `updates-ent`

[2019-11-27 17:09] Nowosad commented on #141
@mhesselbarth Also - remove `cleaner_cpp`.

[2019-11-27 17:11] Nowosad opened #142 "Differences between README and the main webpage"
Compare https://github.com/r-spatialecology/landscapemetrics and https://r-spatialecology.github.io/landscapemetrics/.

Differences:
1. Citation
2. Example table

[2019-11-27 17:16] Nowosad commented on #140
Hi @mhesselbarth - it works now! The only issue is the number of warnings... Would it be possible to cut it just to the two unique warnings?

[code]

![](https://i.imgur.com/X5eMImR.png)

[code]

<sup>Created on 2019-11-27 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2019-11-27 18:33] Nowosad opened #143 "Use .default instead of _calc"
This way we could use matrices as inputs. What do you think @mhesselbarth ?

Example: https://github.com/r-spatialecology/landscapemetrics/commit/8630067278f6f8d4a43ba6483ad15ad218fc733e

[2019-11-27 19:54] bitbacchus commented on #141
Hm, I re-read #108, and I think we had agreed that it would be beneficial to have optional built-in parallelization for large rasters. So, maybe don't delete rcpp_parallel just yet :-)

[2019-11-28 06:49] mhesselbarth commented on #143
I think we discussed and agreed on to not allow matrices as input. The main problem with matrices is that there is no information about the resolution of the cells which makes all metrics that use the area or the perimeter impossible to calculate without additionally it. In the publication, we even argue that this is one of the advantages over SDMTools (less error-prone because all information is

[2019-11-28 09:11] mhesselbarth commented on #142
I fixed the table, but have no idea why that stupid line break is added in the citation

[2019-11-28 10:54] mhesselbarth commented on #142
The HTML seemed to do the trick, good job @Nowosad

[2019-11-28 10:54] #142 closed

[2019-11-28 14:28] mhesselbarth commented on #142
Okay....should be finally fixed... 9c8e3b112f553fe20cc413ad095a928c5fcff6e4

Didn't know there is an preview possible. Sorry for the billion pushes :)

[2019-11-28 14:59] mhesselbarth commented on #140
The problem is that the warning(s) is/are thrown by `calculate_lsm()` which is executed for each sample plot. One possibility would be to move the check outside `calculate_lsm()` and set `verbose = FALSE`. This would return only one warning. However, this has the problem that also ALL other warnings in `calculate_lsm()` are not returned e.g. if less than 3 classes are present for IJI and so on.

I

[2019-11-28 15:03] mhesselbarth commented on #141
Done.

[2019-11-28 15:03] #141 closed

[2019-11-28 15:04] mhesselbarth commented on #140
Related to #130

[2019-11-28 15:05] #119 closed

[2019-11-28 21:32] bitbacchus commented on #130
It's possible to redirect the messages (e.g., warnings) to a variable. We could do that during the loop in sample_lsm(), filter out the unwanted stuff, and print the remaining warnings.

Here is a proof-of-concept:

[code]

Not pretty yet, and I have no clue where the code would need to go. But I think this would be a way to do it.

[2019-11-29 08:40] mhesselbarth commented on #140
Fixed with the help of @bitbacchus idea in #130:  7eb2aa8210d59ca3311da29228eeb25927817b8f

Interestingly, doesn't work with `reprex()`, but looks nice and neat on the local console for me.

[2019-11-29 09:47] bitbacchus commented on #140
Nice, it works perfectly :-)

[2019-11-29 10:00] mhesselbarth commented on #130
Fixed c0920f6291b5ebf26666786b643543b4551b109a

[2019-11-29 10:00] #140 closed

[2019-12-01 07:08] Nowosad commented on #140
:1st_place_medal:

[2019-12-03 18:22] paulomur opened #144 "sample_lsm issue"
Hi,
I am using a landcover image and points processed from GEE.  The coordinate system is the same in both inputs. Once I used this:
square_shdi = sample_lsm(ivory,
                         points = sample_points2,
                         size = 100,
                         what = "lsm_l_shdi")

I got this:
Error in lapply(X = raster::as.list(landscape), FUN = sample_lsm_int,  :
  argument "y" i

[2019-12-04 07:49] mhesselbarth opened #145 "gcc"
This concerns packages

BNSP BPEC C50 CompRandFld Cubist HWxtest MigClim PBSddesolve PET
PwrGSD RDieHarder Rmpfr TTR VBLPCM actuar aucm bibtex bitrugs carfima
cec2005benchmark cleancall coxme cubature curl data.table deSolve
deTestSet dti eha epanet2toolkit fansi gensvm geometry gpg hdf5r hergm
keypress landscapemetrics latentnet lfe memisc mmap msm networkDynamic
pbdMPI pgmm phyclust phylocomr po

[2019-12-04 07:53] mhesselbarth commented on #145
I found the following here:  https://github.com/joshuaulrich/TTR/commit/96176d110cbd727abc9242e7617cfcc2ffe6ccd2

[2019-12-04 08:03] mhesselbarth commented on #144
Hey Paulo,

Here is the perfect place for this comment :)

Because the `sample_lsm()`-function can also handle lines and polygons for sampling, we changed the argument `points` and it is now called `y` to be more generic.

Please try the following and let me know if it work
[code]

[2019-12-04 12:42] Nowosad commented on #145
I would assume it is about the global variables defined in https://github.com/r-spatialecology/landscapemetrics/blob/master/src/cclabel_4.c and https://github.com/r-spatialecology/landscapemetrics/blob/master/src/cclabel_8.c...

[2019-12-04 19:01] paulomur commented on #144
Thank you!
I was using an old tutorial...now it works perfectly. I am transitioning from R to GEE. Is there any future attempt of having this library in javascript for GEE?

[2019-12-04 23:36] bitbacchus commented on #145
I think @Nowosad is correct. I'll fix cclabel.

Until now I was not able to reproduce this, I'll try gcc9 next week.

[2019-12-05 11:39] mhesselbarth commented on #144
👍

No, there are no plans for GEE, sorry.

I will close this issue for now. Feel free to reopen at any time if necessaire.

[2019-12-05 11:39] #144 closed

[2019-12-05 12:18] mhesselbarth opened #147 "Check class of landscape"
I got the following mail:

class(matrix(...)) gives a vector of length two and conditions of length
greater than one in 'if' or 'while' give an error: please fix as
necessary.

<https://developer.r-project.org/Blog/public/2019/11/09/when-you-think-class.-think-again/index.html>
for more information about correctly using class() in package code.

[2019-12-05 12:19] Nowosad commented on #147
https://www.r-project.org/nosvn/R.check/r-devel-linux-x86_64-debian-clang/landscapemetrics-00check.html

[2019-12-05 12:20] Nowosad commented on #147
We cannot use `class(landscape) != "matrix"` any more (https://developer.r-project.org/Blog/public/2019/11/09/when-you-think-class.-think-again/index.html).

[2019-12-05 12:20] mhesselbarth commented on #147
I will push in a few minutes

[2019-12-05 12:21] Nowosad commented on #147
We probably should use `!inherits(landscape, "matrix")`

[2019-12-05 12:22] mhesselbarth commented on #147
I went for `!is(landscape, "matrix")` which should be the same.

I'm just running some checks at the moment if everything runs smoothly.

[2019-12-05 12:42] mhesselbarth commented on #147
Fixed: 3dcc29cda049cc0cf38d45ab93a82d54d2f575f8

[2019-12-06 10:17] mhesselbarth commented on #147
Okay....I had some problems with my local git and needed to rebase.

Should be fixed now: 2ad24f886c7bc33c3c3df674d7b5696e6d308f78, 6c0cb8a1d0534097a232d080df7ae5d48c7b59d7

[2019-12-06 10:17] #147 closed

[2019-12-08 13:46] mhesselbarth opened #151 "OxygenNote"
Could you all please update your roxygen2 package? I think we are running different versions (7.0.1 vs. 7.0.2) which leads to different doc every time someone builds the package.

Thanks.

[2019-12-11 06:05] mhesselbarth commented on #145
Fixed with new CCL algorithm

[2019-12-11 06:05] #145 closed

[2019-12-11 06:05] #151 closed

[2019-12-12 09:00] VC826 opened #153 "how to spilt one classification Map into different tiles，and then calcaulate all tiles's landscape values"

[2019-12-12 12:26] mhesselbarth commented on #153
Hey,

One approach would be to split the raster before calculating any metrics. There are several packages that allow to do so (e.g. ` SpaDES`).

Also, it would be possible to use the `sample_lsm()` function if sample plots are basically a grid on top of the `RasterLayer`. Here is one way to do that:

[code]

![](https://i.imgur.com/09xZXIa.png)

[code]

<sup>Created on 2019-12-12 by the [reprex p

[2019-12-12 14:39] VC826 commented on #153
Thanks,but I still met some problem about how to change the values of GridTopology().

Here are one example,
# create grid with 9 cells which are 10x10
poly_grid <- sp::GridTopology(cellsize = c(5,5),
                              cellcentre.offset = c(5,5),
                              cells.dim = c(6,6))

![image](https://user-images.githubusercontent.com/49785403/70721087-f8058080-1d2f-11ea-86

[2019-12-12 14:55] mhesselbarth commented on #153
You need to adjust the `cellcentre.offset` argument to be 1/2 of the `cellsize` argument.

If you set `return_raster = TRUE` in the `sample_lsm()` function, all tiles will be returned as additional column.

[2019-12-16 13:16] mhesselbarth commented on #153
Should be solved. Please feel free to re-open if nessesaire.

[2019-12-16 13:16] #153 closed

[2019-12-17 15:13] mhesselbarth commented on #134
I will close this for now. Please feel free to re-open at any time.

[2019-12-19 07:00] mhesselbarth opened #154 "Store results for calculate_lsm"
Not sure how complicated this will be (if even possible), but maybe we can somehow store results for e.g. the patch area and other values we need for several metrics during the calculation of `calculate_lsm()` so we don't need to calculate them n times.

[2019-12-20 06:12] deryagulcinubc opened #155 "lpi calculation"
Hi there! I am trying to calculate LPI for defined squares (cellsize=1500 grids). I tried to understand lpi calculation by using sample data.
Here are the codes that I used.

my_raster = augusta_nlcd
my_grid = st_sf(geom = st_make_grid(augusta_nlcd, cellsize = 1500))
my_metric = sample_lsm(my_raster, as(my_grid_, "Spatial"), metric = "lpi")
plot(lpi)
Error 1:
"Error in plot.window(...) : sonlu 'yl

[2019-12-20 13:28] bitbacchus commented on #154
Would make sense...

We'd need some class where we can store values and intermediate values as member variables alongside the functions. Each time such a value is needed in a function, it is retrieved from the member variable if it was calculated, already. Otherwise, it is calculated and stored to that member variable.

An alternative could be to give each function a List as an additional paramete

[2019-12-21 09:28] mhesselbarth commented on #155
Hey,

The largest patch index is simply the area of the largest patch in relation to the overall landscape either separated by class or of the total landscape (watch out: in the case of `sample_lsm()` in relation to the sample buffer area).

The `sample_lsm()` returns a data.frame with the corresponding results. Because you selected `metric = lpi` the index is calculated on class and landscape lev

[2019-12-21 17:23] mhesselbarth commented on #154
Yes, that was my idea as well. I will have a look in the new year :)

[2019-12-24 02:16] deryagulcinubc commented on #155
Hi Hessel,

The codes worked! Thanks a lot. That's a great contribution to my research.

Best,
Derya

[2019-12-24 08:11] mhesselbarth commented on #155
Hey Derya,

That's great!

In case you don't need the actual raster within each sample plot, you can, of course, set `return_raster = FALSE`. I just set it to true for checking/demonstrating which area is clipped.

I will close the issue, but please feel free to re-open if necessaire.

Cheers,
Max

[2019-12-24 08:11] #155 closed

[2020-01-03 13:50] VC826 opened #157 "can the results be visualization?"
Hi,there

I have calculate the landscape matric values using the sample_lsm,and then I acquire a dataframe,like this,I'm interseted in one question:can the dataframe link with my tiles,or translate to the shapeflie,any ways to visualize the calculation result.

Thank you.
![image](https://user-images.githubusercontent.com/49785403/71726743-f92f5680-2e72-11ea-8dbb-5ddfafaa4d61.png)

[2020-01-03 15:56] mhesselbarth opened #158 "Bug in new CCL"
There seems to be a problem with the following example and the new CCL, @bitbacchus. It seems that the large patch on the left-hand side gets separated into several patches (see the "rainbow colour" of the IDs).

[nlcd.tif.zip](https://github.com/r-spatialecology/landscapemetrics/files/4019764/nlcd.tif.zip)

[code]

![](https://i.imgur.com/xRjq1Se.png)

[code]

<sup>Created on 2020-01-03 by the [r

[2020-01-03 16:36] mhesselbarth commented on #158
Actually, also `augusta_nlcd` looks odd to me. I'm quite sure we did compare the algorithms for `augusta_nlcd`, didn't we?

[code]

[2020-01-03 18:29] Nowosad commented on #158
[code]

![](https://i.imgur.com/52uy5GS.png)

<sup>Created on 2020-01-03 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-01-03 18:59] bitbacchus commented on #158
@mhesselbarth I'll have a look tonight.

@Nowosad unfortunately, it seems the problem is in the rcpp code...

[2020-01-03 19:00] mhesselbarth commented on #158
I don’t think so. The first example is from some teaching material I prepared some time ago. There used to be 222 patches in class 42 and now there are 747.

[2020-01-03 23:13] bitbacchus commented on #158
I looked into the code and I think I must have mixed up a row for a column somewhere. I can't spot it at a first glance, however. But I'm confident to fix this in the next couple of days. Until then, this is broken, however :-(

[2020-01-05 19:38] #158 closed

[2020-01-09 10:02] rsbivand opened #160 "vulnerability to PROJ6/GDAL3 #303"
Running revdeps from sp (sp (my github fork) with development rgdal from R-Forge):

[code]
See:

http://rgdal.r-forge.r-project.org/articles/PROJ6_GDAL3.html
r-spatial/sf#1231
r-spatial/sf#1187
r-spatial/sf#1146
r-spatial/discuss#28

for background. See:

r-spatial/discuss#28 (comment)

for a way of testing fixes in a docker container contributed by Jakub Nowosad.

[2020-01-13 07:22] mhesselbarth commented on #160
@Nowosad Can you tackle this?

[2020-01-13 12:17] mhesselbarth commented on #157
Hey,

Using `sf` objects this is quite straightforward. You just need to transform the resulting `tibble` to the wide format, i.e. each row corresponds to a sample point and the values are in the columns . Then, you can simply combine the columns of the `sf` object and metrics and finally plot the result.

The following code is adapted from an example created by @Nowosad.

[code]

![](https://i.im

[2020-01-14 07:30] Nowosad commented on #160
@mhesselbarth I will take a look at this problem during the next weekend.

[2020-01-14 07:31] Nowosad commented on #157
@VC826 feel free to reopen the issue if the above answer is not enough.

[2020-01-14 07:31] #157 closed

[2020-01-15 20:30] Nowosad commented on #160
To reproduce it:

1.   https://github.com/r-spatial/discuss/issues/28#issuecomment-551241421
2.  `usethis::create_from_github("landscapeecology/landscapemetrics")`
3. `remotes::install_github("rsbivand/sp")`
4. `install.packages("rgdal", repos="http://R-Forge.R-project.org")`
5. `devtools::test(filter = "spatialize-lsm")`

[2020-01-15 20:48] Nowosad commented on #160
The issue is with the CRS of the built-in dataset `podlasie_ccilc`:

[code]

![](https://i.imgur.com/pkNwk8M.png)

@rsbivand could you advice us on what is the recommend action to fix this issue?

[2020-01-21 13:00] #143 closed

[2020-01-23 09:16] bitbacchus opened #163 "lsm_p_circle does not match my calculation by hand"
I'm just tinkering with rcpp_get_circle. I noticed that I either don't understand the calculation or something is broken.

I created a raster with a single 3x1 patch and calculated the circle metrics by hand and with lsm_p_circle. By hand, I get a value of 0.6980247 and witch lsm_p_circle 0.6180281.

Here are my calculations (as in https://r-spatialecology.github.io/landscapemetrics/reference/lsm_

[2020-01-23 09:25] mhesselbarth commented on #163
Could it be due to:

[FRAGSTATS manual](http://www.umass.edu/landeco/research/fragstats/documents/Metrics/Shape%20Metrics/Metrics/P11%20-%20CIRCLE.htm)

[2020-01-23 09:31] bitbacchus commented on #154
Idea: we could change `landscapemetrics` so that there would always be an `lsm` _object_ on which the calculations would be performed, e.g.

[code]
This way, all interim results for the individual metrics could be saved in the `lsm` object and reused for subsequent calculations. And the `lsm` object can also be used as a container format, in which the raster can be stored/saved together with the c

[2020-01-23 09:40] bitbacchus commented on #163
I think that's what I do. The cell centers are (1.5, 1.5) and (3.5, 1.5). If I'm not mistaken, the way FRAGSTATS does _not_ calculate this metrics would be:
[code]

[2020-01-23 09:44] mhesselbarth commented on #154
Not sure if I like this idea. I see that this approach would make it quite easy to store all the information needed. However, I like that is is currently possible to use raster objects without any need to modify/change/convert them. I think that this makes it convenient for many applications (e.g. allows to use a pipe quite easily).

[2020-01-23 11:50] mhesselbarth commented on #163
Wait...isnt' your calculation of the circle area wrong? The distance is the diameter of the circle, so the `A = pi * (diameter/2) ^ 2`

[2020-01-23 11:53] mhesselbarth commented on #163
But isn't the diameter the diagonal, so slightly larger than just 3m in your example?

[2020-01-23 12:00] mhesselbarth commented on #163
Wait...isnt' your calculation of the circle area wrong? The distance is the diameter of the circle, so the `A = pi * (diameter/2) ^ 2`

I think this can be closed then.

[2020-01-23 12:00] #163 closed

[2020-02-08 20:24] bitbacchus opened #165 "Issues with circles"
Hi,

I suggested a solution (#164) for a problem I haven't described yet (but had discussed it with @mhesselbarth). But here, we go:

Consider the following code:
[code]

![](https://i.imgur.com/Dq74kOq.png)

[code]
<sup>Created on 2020-02-08 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

The issue is that the diameter of the smallest circumscribing circle is not 7.21, but r

[2020-02-11 09:35] Nowosad commented on #165
Great work @bitbacchus and @mhesselbarth. I would suggest adding some explanation of the changes (including some of the figures showed above) to https://r-spatialecology.github.io/landscapemetrics/articles/articles/comparing_tools.html,

[2020-02-11 09:50] mhesselbarth commented on #165
I already started doing so :)

[2020-02-11 11:31] mhesselbarth commented on #165
Done. Pls re-open if needed.

[2020-02-11 11:31] #165 closed

[2020-02-20 07:56] mhesselbarth commented on #130
I just recognized that our current solution is not very stable and there are problems if errors occur before the connection can be closed.

I'm working on a much better solution using `withCallingHandlers()`, which is what is normally done for such problems.

[2020-02-20 13:03] mhesselbarth commented on #130
Okay, this should do the trick: 64aa4e0ccf123786e44acecd66ed6d0616860c4f

[2020-02-20 13:13] mhesselbarth commented on #130
Interestingly, this leads to a new warning message we didn't get before.

[code]

<sup>Created on 2020-02-20 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

The warnings comes from `raster::rasterFromXYZ(fill_value[, c(2,3, 8)], crs = crs_input)` and can can be reproduced by using the `min()` or `max()` on an empty vector, e.g. `min(numeric(0))`. I tried to find exactly where

[2020-02-20 14:07] mhesselbarth commented on #130
Still not sure where exactly this is happening, but I think it is happening because `raster` firstly sets up an empty raster and then adds the values to it. During the setting up, the min/max values can't be identified by `raster` (...because they are not there yet...). I don't understand how raster suppresses the warning normally and why  `withCallingHandlers()` picks it up now.

However, shouldn

[2020-03-02 09:03] mhesselbarth opened #168 "Landscape distribution statistics"
I got quite a few questions about the area-weighted mean.

I'm working on a vignette that shows how to calculate it at the moment.

[2020-03-02 09:28] mhesselbarth commented on #168
cc8b91bf04d7130f69c0f7a93a27c75f866a7ef2

Please feel free to modify the vignette if you want to.

[2020-03-02 09:28] #168 closed

[2020-03-02 09:53] mhesselbarth commented on #130
Asked for help: https://github.com/rspatial/raster/issues/96

[2020-03-02 14:32] Nowosad commented on #168
Awesome!

[2020-03-08 12:15] Nowosad commented on #168
@mhesselbarth - one idea - maybe you could start with one example on how to calculate one of the implemented measures  (_mn, _cv, _sd)?

[2020-03-09 12:59] mhesselbarth commented on #168
bc1de0a8d0c71fad76a1e6d3c549349af493810d

[2020-03-09 13:00] mhesselbarth commented on #160
Thanks for the fix @Nowosad.

Does this mean we can close this issue?

[2020-03-09 13:25] Nowosad commented on #160
I hope so;)

[2020-03-09 13:25] #160 closed

[2020-04-03 07:16] mhesselbarth opened #170 "Add zero for classes that that are present in landscape but not sampling plot"
Currently, the `sample_lsm()` function only returns rows for classes that are present in the sample plot. So if a class is present in the landscape, but not in a specific sample plot, simply no value is returned for this class. Maybe it makes sense to add an argument that automatically adds a 0 for these classes. On example where this makes sense would be the proportion of landcover.

[2020-04-03 11:52] Nowosad commented on #170
@mhesselbarth what do you propose to do for sample plots with NAs (partialy or completely covered by NA)?

[2020-04-08 10:53] gazzapol opened #171 "calculate_lsm not working"
Hello,
the function calculate_lsm is currently producing an error:

[code]

the code:

[code]

[2020-04-08 10:54] gazzapol commented on #15
all contrast metrics seems missing

[2020-04-08 14:12] mhesselbarth commented on #15
Yes, at the moment we do not include them and probably won't be in the nearer future.

[2020-04-08 14:16] mhesselbarth commented on #171
Could you please share your `sessionInfo()` with me. On my computer, your code is working and I can't reproduce your error.

[2020-04-08 14:36] gazzapol commented on #171
Error in list_lsm(level = level, metric = metric, name = name, type = type,  :
  object 'lsm_abbreviations_names' not found

R version 3.4.1 (2017-06-30)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 10 x64 (build 18362)

Matrix products: default

locale:
[1] LC_COLLATE=English_United States.1252
[2] LC_CTYPE=English_United States.1252
[3] LC_MONETARY=English_United States.1252

[2020-04-08 14:42] mhesselbarth commented on #171
Could you please update the `landscapemetrics` package (current CRAN version is v1.4.3) and see if you still get the same error?

[2020-04-08 14:47] gazzapol commented on #171
![image](https://user-images.githubusercontent.com/31890270/78797840-8d501300-79b8-11ea-8ee7-218d669b3bb5.png)
 it automatically installs the binary v.1.1

[2020-04-08 14:48] Nowosad commented on #171
@gazzapol you need to update your R version first. The current R is 3.6.3 and you have R 3.4.1, which is almost three years old.

[2020-04-08 14:51] gazzapol commented on #171
@mhesselbarth 1. it automatically installs v.1.1 (see above). 2. when choosing version 1.4.3. the problem persits.

Installing package into ‘C:/Users/gazza_000/Documents/R/win-library/3.4’
(as ‘lib’ is unspecified)
trying URL 'https://cran.csiro.au/src/contrib/landscapemetrics_1.4.3.tar.gz'
Content type 'application/x-gzip' length 724726 bytes (707 KB)
downloaded 707 KB

* installing *source* pack

[2020-04-08 15:32] gazzapol commented on #171
@mhesselbarth source v. 1.4.3 do not produce the error (which binary v.1.1 actually does). @Nowosad the installed R version is not the problem here (I did not update the R version meanwhile). Maybe is a bug in the 1.1 version? Still, R atutomatically installs the 1.1 version, unless "source" is specified.

[2020-04-08 15:36] Nowosad commented on #171
@gazzapol It is possible that there was a bug in the 1.1 version. However the bug was fixed and does not exist in 1.4.3.

The installed R version is a problem here - binaries version changes with R versions. Therefore, with R 3.6.3 you will have also the binary version of landscapemetrics 1.4.3.

[2020-04-08 15:39] gazzapol commented on #171
@Nowosad Oh I did not know that, thanks for the hint.

[2020-04-08 15:42] Nowosad commented on #171
:+1:

[2020-04-08 15:42] #171 closed

[2020-04-09 07:34] mhesselbarth commented on #170
Good question, probably need to think a bit more about this. Maybe if only NA is present, return NA as well. And if some cells are NA, that shouldn't change anything to how metrics are calculated anyways.

[2020-04-13 09:27] mhesselbarth opened #172 "Change email adress"
Reminder to change maintainer e-mail address because uni-goetttingen.de adress will expire at some point this summer

[2020-04-15 13:08] mhesselbarth opened #173 "Check if raster is in memory"
If I'm not mistaken, we need the raster to be hold in the memory to calculate all metrics. Should we include this into `check_landcape()`?

[2020-04-17 09:50] bitbacchus commented on #173
I'm not aware that the landscape needs to be in memory. Isn't raster loading the data on-the-fly if it's not in memory?

[2020-04-17 10:05] mhesselbarth commented on #173
I need to check that again (didn't have the time yet), but I think because when we transform it to a matrix, it needs to be in memory

[2020-04-21 14:27] cpcnn opened #174 "Landscape metrics with polygon shapefiles or csv"
Dear all,

Thanks for the package, it's very useful and user friendly.
Is there a way to apply the metrics to polygon shapefiles or csv datasets?
I have tables (both shapefile and csv) regarding marine seascapes made by observations as rows and different features for columns such as year (6 levels), geographical location (3 levels) and bathymetric range (2 levels).
I always used Patch analyst tool

[2020-04-22 11:57] mhesselbarth commented on #174
Hey Luca,

Thanks for your question.

There is no way to apply the metrics to a polygon shapefile or a csv datasets.

However, converting the csv dataset into a raster first is very straightforward. You can have a look at the `rasterFromXYZ()` function from the `raster` package which allows to create a raster from a matrix. You can also find many other ways to convert a csv file into a raster in R

[2020-04-23 09:39] cpcnn commented on #174
Hi Maximilian,
thank you so much for your reply.
Actually i tried to convert shapes into rasters and then combine multiple rasters into one in order to analyze it with the package. Unfortunately i lose details and accuracy during these procedure but never mind, i will keep your features in my mind for the future.
If you are interested in implementing the package in order to use shapes or csv text

[2020-04-23 09:42] mhesselbarth commented on #174
We actually thought about creating a package for vector data at some point and also started a little bit with it. But just don't have the time at the moment to dig deeper into that.

[2020-04-23 09:53] cpcnn commented on #174
I can imagine!
Whatever, good job and good luck for the future, ciao!

[2020-04-23 18:22] #174 closed

[2020-04-25 02:34] gponce-ars opened #175 "bind_cols error due to mismatch between # rows in results-tibble (level = class) and total # of grid cells"
Hi,

I'm just trying to plot the corresponding raster of one metric for one specific class.
This is how I'm trying to get this:

**Note:** The error I'm getting here is happening only in 1 case out of +60

[code]

![Screen Shot 2020-04-24 at 5 27 05 PM](https://user-images.githubusercontent.com/20215136/80266465-d8248880-8650-11ea-81d6-7024105eb431.png)

Then I just run sample_lsm() by class level

[2020-04-27 18:00] mhesselbarth commented on #175
Hey,

I am not sure if I understood your problem correctly, but I think this is related to #170

Does the following code using the `complete()` function from the `tidyr` package fix your problem?

[code]

![](https://i.imgur.com/MZuvGrg.png)

[code]

<sup>Created on 2020-04-27 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>
[code]

[2020-04-28 00:58] gponce-ars commented on #175
Thanks, @mhesselbarth

Yes. That `tidyr::complete -> nesting -> arrange` produced the structure needed with the missing NA's.

And yes, it is totally related to this [#170 ](https://github.com/r-spatialecology/landscapemetrics/issues/170).

Cheers!
Guillermo

[2020-04-28 00:58] #175 closed

[2020-04-29 10:56] rickcleong opened #176 "Problem with class and id features after conversion from KML to raster."
Hello there,

First and foremost, thank you so much to the creators for creating this package. I have tried out Fragstats several times but it is not very user-friendly (in my opinion). Anyway, I have a question which is linked to the input of the raster into the functions of landscape metrics.

I am comparing patch statistics of 10 reef patches of the same type (same class). I obtained the polygo

[2020-04-29 12:08] mhesselbarth commented on #176
Hey Rick,

Yeah, it seems like there is an issue when you create the raster. Did you already try to plot it? Does it look correct?

It's hard to help without having the data, but did you try to set the `field` argument of the `rasterize()` function? From the help file, this sounds bit like it could solve your problem.

It would be helpful if you could share your data, so I can reproduce the proble

[2020-04-29 12:30] rickcleong commented on #176
Hi @mhesselbarth ,

Thanks for your quick reply and congrats on your PhD graduation (just saw on your Twitter)! :)

I actually did try to set to `field ` but there was nothing. Here's the KML file in the Zip file and the attached  R plot, showing different colors of different class integers for each patch.

![plot_CR_raster](https://user-images.githubusercontent.com/64528539/80595665-77d68200-8a68

[2020-04-29 17:25] mhesselbarth commented on #176
Oh...now I see the "problem". Well, it's not directly a problem. The edge is defined as "all edges between class i and all other classes k". However, the cells between your patches are NA (no value)...following no edge is calculated. You have a few options.

The first one would be to calculate the perimeter of all patches, group it by class and sum the results.

The second option would be to recla

[2020-04-29 22:53] rickcleong commented on #176
Hi @mhesselbarth Max,

Really appreciate your reply with the corrected codes to measure the edge density. Thank you very much for that. However, I think I still have to resolve the underlying problem whereby my individual patches are classified as individuals in `class` as opposed to 'id'.

For example, I am also looking to calculate ENN_mn from the patch and the output is as such:
# A tibble: 11

[2020-04-30 06:12] mhesselbarth commented on #176
Got it. Simply reclassify all your patches giving them the same value. Since they all are separated by NAs, they automatically will be identified as unique patches. Of course, you could also reclassify all NAs additionally as e.g. class 99.

To check if that worked and obtain the original raster again, you could use `get_patches()` which will label and return all patches of the class (basically yo